<% primary_color = @user.tenant.theme["colors"]["primary"] %>
<mj-wrapper full-width="full-width" padding="0px">
  <mj-section full-width="full-width">
    <mj-column>
      <mj-image width="300px" src="<%= @user.tenant.theme["logoLarge"] %>" />
    </mj-column>
  </mj-section>
  <mj-section full-width="full-width">
    <mj-column>
      <mj-divider border-width="4px" border-style="solid" border-color="<%= primary_color %>" />
    </mj-column>
  </mj-section>
</mj-wrapper>
<mj-wrapper full-width="full-width" padding="0px">
  <mj-section full-width="full-width" padding="0px">
    <mj-column width="100%" padding="0 2.5%">
      <mj-text>
        <p>Dear <span><%= @user.full_name %>,</span></p>
      </mj-text>
    </mj-column>
    <mj-column width="100%" padding="0 2.5%">
      <% @content['body'].each do |section|%>
        <mj-text line-height="24px">
          <%== section.text%>
        </mj-text>
        <% if section.image.attached?%>
          <mj-image width="300px" src="<%= Rails.application.routes.url_helpers.rails_blob_url(section.image, disposition: 'attachment') %>" />
        <% end %>
        <mj-divider border-width="1px" border-style="dashed" border-color="lightgrey" />
      <% end %>
    </mj-column>
  </mj-section>
</mj-wrapper>
<mj-wrapper full-width="full-width" padding="0px">
  <mj-section full-width="full-width">
    <mj-column width="100%" padding="0 2.5%">
      <% @content['social'].each do |section|%>
          <%== section.text%>
      <% end %>
    </mj-column>
  </mj-section>
</mj-wrapper>
<mj-wrapper full-width="full-width" padding="0px">
  <mj-section full-width="full-width">
    <mj-column width="100%" padding="0 2.5%">
      <% @content['footer'].each do |section|%>
        <mj-text line-height="24px">
          <%== section.text%>
        </mj-text>
        <% if section.image.attached?%>
          <mj-image width="300px" src="<%= Rails.application.routes.url_helpers.rails_blob_url(section.image, disposition: 'attachment') %>" />
        <% end %>
      <% end %>
    </mj-column>
  </mj-section>
</mj-wrapper>
<mj-wrapper full-width="full-width" padding="0px">
  <mj-section full-width="full-width">
    <mj-column>
      <mj-divider border-width="4px" border-style="solid" border-color="<%= primary_color %>" />
    </mj-column>
  </mj-section>
</mj-wrapper>
