Hallo <%= @user.profile.full_name %>,

Vielen Dank für Ihre Anfrage. Im Anhang an diese Email erhalten Sie eine PDF-Datei die Ihre ausgewählten Quotierungen enthält.

References: <%= @query.references.join(" ") %>
Erstellungsdatum:<% @query.created_at.strftime('%Y%d%m') %>

Beschreibung  Betrag
<% @results.each do |result| -%>
  <%= [result.routing, result.total].join(" ") %>
<% end -%>
Wenn Sie eine Frage bzgl. Ihrer Quotierung haben, antworten Sie einfach auf diese Email oder schreiben Sie unserem Support (<%= current_organization.theme.emails.dig("support", "general")%>) für Hilfe.</p>
Mit freundlichen Grüßen,

Ihr <%= current_organization.theme.name %> Team

  