<%= form_for @tenant do |f| %>
  <div class="row justify-content-center">
    <div class="col-sm-9">
      <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <span class="navbar-brand"><%= @tenant.name %></span>

        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-text">
          <%= f.submit 'Save', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', tenant_path(@tenant), class: 'btn btn-light' %>
        </span>
      </nav>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-4">
      <dl class="row">
        <dt class="col-sm-5">Tenant Name</dt>
        <dd class="col-sm-7"><%= f.text_field :name %></dd>

        <dt class="col-sm-5">Tenant Slug</dt>
        <dd class="col-sm-7"><%= f.text_field :slug %></dd>
      </dl>
    </div>

    <div class="col-sm-6">
      <div id="jsoneditor"></div>
      <%= f.hidden_field :scope, value: @render_scope.to_json %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var container = document.getElementById('jsoneditor');
  var options = {
    modes: ['form', 'tree'],
    onChangeText: function(jsonString) { document.getElementById('tenant_scope').value = jsonString }
  };
  var editor = new JSONEditor(container, options, JSON.parse(document.getElementById('tenant_scope').value));
  editor.expandAll()
</script>
