<tr>
  <td class="content-cell" style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 45px;">
    <div class="f-fallback">
      <h1 style="margin-top: 0; color: #333333; font-size: 22px; font-weight: bold; text-align: left;" align="left">Hi <%= @profile.full_name %></h1>
      <p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;">A new shipment request has been generated through your online shop!</p>
      <table class="purchase" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; margin: 0; padding: 35px 0;">
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Ref: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"><%= @result.imc_reference %></h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Created At:</h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"><%= @shipment_request.created_at.strftime('%Y-%d-%m') %></h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Client: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= @profile.full_name || I18n.t("notifications.admin_mailer.shipment_request_created.none") %> </h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Email: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= @user.email %> </h3></td>
        </tr>
        <tr>
          <td colspan="3" height="40"></td>
        </tr>
        <tr>
          <td colspan=75%>
            <h2 style="text-align: center">Shipment request details</h2>
          </td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">From: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"><%= @result.main_freight_section.from.locode %></h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">To:</h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"><%= @result.main_freight_section.to.locode %></h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Commercial value: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= @shipment_request.commercial_value&.format(rounded_infinite_precision: true, symbol: "#{@shipment_request.commercial_value_currency} ") || I18n.t("notifications.admin_mailer.shipment_request_created.none") %> </h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Preferred Voyage: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= @shipment_request.preferred_voyage || I18n.t("notifications.admin_mailer.shipment_request_created.none") %> </h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">With customs handling: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= I18n.t("notifications.admin_mailer.shipment_request_created.#{@shipment_request.with_customs_handling}") %> </h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">With insurance: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= I18n.t("notifications.admin_mailer.shipment_request_created.#{@shipment_request.with_insurance}") %> </h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Notes: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= @shipment_request.notes || I18n.t("notifications.admin_mailer.shipment_request_created.none") %> </h3></td>
        </tr>
        <tr>
          <td colspan="3" height="40"></td>
        </tr>
        <tr>
          <td colspan=75%>
            <h2 style="text-align: center">Cargo unit details</h2>
          </td>
        </tr>
        <% @result.query.cargo_units.each do |cargo_unit| %>
          <tr>
            <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
              <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Quantity: </h3></td>
            <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
              <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= cargo_unit.quantity %> </h3></td>
          </tr>
          <tr>
            <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
              <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Cargo Class: </h3></td>
            <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
              <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= cargo_unit.cargo_class.humanize.upcase %> </h3></td>
          </tr>
          <% if cargo_unit.cargo_item? %>
            <tr>
              <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
                <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Dimensions: </h3></td>
              <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px; text-align: right;">
                <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= cargo_unit.dimensions_format %> </h3></td>
            </tr>
            <tr>
              <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
                <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Colli Type: </h3></td>
              <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
                <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= cargo_unit.cargo_item_type_description %> </h3></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td colspan="3" height="40"></td>
        </tr>
        <tr>
          <td colspan=75%>
            <h2 style="text-align: center">Transportation details</h2>
          </td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Routing: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= @result.routing %> </h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Mode Of Transport: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= @result.main_freight_section.mode_of_transport.humanize %> </h3></td>
        </tr>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Transshipment: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: initial; text-align: right;" align="right"> <%= @result.main_freight_section.transshipment || I18n.t("notifications.admin_mailer.shipment_request_created.none") %> </h3></td>
        </tr>
        <tr>
          <td colspan="3" height="40"></td>
        </tr>
        <tr>
          <td colspan=75%>
            <h2 style="text-align: center">Costs</h2>
          </td>
        </tr>
        <% @result.fees.each do |fee| %>
          <% next unless [1,4].include?(fee[:level]) %>
          <% if fee[:level] == 4 %>
          <tr>
            <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
              <h3 style="margin-top: 0; font-size: 14px; font-weight: initial; text-align: left; margin-left: 20px;"> <%= fee[:description] %> </h3>
            </td>
            <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
              <h3 style="margin-top: 0; font-size: 14px; font-weight: initial; text-align: left;" align="right"> <%= [fee.dig(:value, :amount), fee.dig(:value, :currency)].join(' ') %> </h3>
            </td>
          </tr>
          <% else %>
            <tr>
              <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
                <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left"> <%= fee[:description] %> </h3>
              </td>
              <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
                <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="right"> <%= [fee.dig(:value, :amount), fee.dig(:value, :currency)].join(' ') %> </h3>
              </td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;" align="left">Total cost: </h3></td>
          <td style="word-break: break-word; font-family: &quot;Nunito Sans&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">
            <h3 class="align-right" style="margin-top: 0; color: #333333; font-size: 14px; font-weight: bold; text-align: right;" align="right"> <%= @result.total %> </h3></td>
        </tr>
      </table>
      <p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;">Regards,
        <br />The ItsMyCargo Team</p>
    </div>
  </td>
</tr>
