<tr>
  <td class="content-block">
    Your upload of file <b><%= @file %></b> has been completed. Please see results of
    the upload below:
  </td>
</tr>

<%- unless @result["errors"].empty? %>
  <tr>
    <td class="content-block aligncenter">
      <h4>Errors</h4>
      <table class="invoice">
        <tr>
          <td>
            <table class="invoice-items" cellpadding="0" cellspacing="0">
              <tr>
                <td>Sheet</td><td>Row</td><td class="alignright">Reason</td>
              </tr>
              <%- @result["errors"].each do |error| %>
                <tr>
                  <td><i><%= error["sheet_name"] %></i></td>
                  <td><b><%= error["row_nr"] %></b></td>
                  <td class="alignright"><%= error["reason"] %></td>
                </tr>
              <%- end %>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<%- end %>

<%- @result.except("has_errors", "errors").each do |type, counts| %>
<tr>
    <td class="content-block aligncenter">
      <h4><%= type.split("/").last.titleize %></h4>
      <table class="invoice">
        <tr>
          <td>
            <table class="invoice-items" cellpadding="0" cellspacing="0">
              <%- counts.each do |action, count| %>
                <tr>
                  <td><%= action.gsub("number_", "").titleize %></td>
                  <td class="total"><%= count %></td>
              <%- end %>
            </table>
          </td>
        </tr>
      </table>
    <td>
  </tr>
<%- end %>
