<% @max_dimensions.each do |md| %>
  <%= fields_for 'max_dimensions[]', md do |field| %>
    <dl class="row">
      <table class="table table-sm">
        <thead> 
          <tr> 
            <td scope="col"><small class="font-weight-bold">Aggregated</small></td>
            <td scope="col"><small class="font-weight-bold">Cargo class</small></td>
            <td scope="col"><small class="font-weight-bold">Mode of transport</small></td>
            <td scope="col"><small class="font-weight-bold">Service Level</small></td>
             <td scope="col"><small class="font-weight-bold">Carrier</small></td>
          </tr>
        <thead>
        <tbody>
          <tr>
            <td><small><%= md.aggregate ? "Aggregated" : "Individual"%></small></td>
            <td><small><%= md.cargo_class.capitalize %></small></td>
            <td><small><%= md.mode_of_transport.capitalize %></small></td>
            <td><small><%= md.tenant_vehicle ? md.tenant_vehicle.name : "-"%></small></td>
            <td><small><%= md.tenant_vehicle&.carrier ? md.tenant_vehicle.carrier.name : "-"%></small></td>
        </tbody>
      </table>
      <dd class="col-sm-12">
        <% if md.errors.full_messages.any? %>
          <ul>
            <% md.errors.full_messages.each do |error_message| %>
              <li class="text-danger"><%= error_message %></li>
            <% end %>
          </ul>
        <% end %>
      </dd>

      <dd class="col-sm-5">Length</dt>
      <dd class="col-sm-7"><%= field.text_field :width %> cm</dd>

      <dd class="col-sm-5">Width</dt>
      <dd class="col-sm-7"><%= field.text_field :length %> cm</dd>

      <dd class="col-sm-5">Height</dt>
      <dd class="col-sm-7"><%= field.text_field :height %> cm</dd>

      <dd class="col-sm-5">Weight</dt>
      <dd class="col-sm-7"><%= field.text_field :payload_in_kg %> kg</dd>

      <dd class="col-sm-5">Chargeable Weight</dt>
      <dd class="col-sm-7"><%= field.text_field :chargeable_weight %> kg</dd>
    </dl>
  <% end %>
<% end%>
