<%= form_for(@organization.object, url: path) do |f| %>
  <div class="row justify-content-center">
    <div class="col-sm-9">
      <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <span class="navbar-brand"><%= @organization.theme&.name %></span>
        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-text">
          <%= submit_tag 'Save', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', path, class: 'btn btn-light' %>
        </span>
      </nav>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-4">
      <dl class="row">
        <%= f.fields_for @theme do |ftheme| %>
          <dt class="col-sm-5">Tenant Name</dt>
          <dd class="col-sm-7"><%= ftheme.text_field :name %></dd>
        <% end %>

        <dt class="col-sm-5">Live Organization</dt>
        <dd class="col-sm-7"><%= f.check_box :live %></dd>

        <dt class="col-sm-5">Tenant Slug</dt>
        <dd class="col-sm-7"><%= f.text_field :slug %></dd>
        <% if @organization.errors.present? %>
          <div>
            <ul class="alert alert-danger">
              <% @organization.errors.full_messages.each do |error| %>
                <%= error %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </dl>
    <%= f.fields_for @theme do |ftheme|%>
      <dl class="row">
        <dt class="col-12">Tenants Colors</dt>
        <dt class="col-sm-5">Primary</dt>
        <dd class="col-sm-5"><%= ftheme.color_field :primary_color %></dd>
        <dt class="col-sm-5">Secondary</dt>
        <dd class="col-sm-5"><%= ftheme.color_field :secondary_color %></dd>
        <dt class="col-sm-5">Bright Primary</dt>
        <dd class="col-sm-5"><%= ftheme.color_field :bright_primary_color %></dd>
        <dt class="col-sm-5">Bright Secondary</dt>
        <dd class="col-sm-5"><%= ftheme.color_field :bright_secondary_color %></dd>
      </dl>
      <dl class="row">
        <dt class="col-12">Tenants Images</dt>
        <dt class="col-sm-5">Large logo</dt>
        <dd class="col-sm-7"><%= ftheme.file_field :large_logo, direct_upload: true, accept: "image/png,image/gif,image/jpeg" %></dd>
        <dt class="col-sm-5">Small logo</dt>
        <dd class="col-sm-7"><%= ftheme.file_field :small_logo, direct_upload: true, accept: "image/png,image/gif,image/jpeg" %></dd>
        <dt class="col-sm-5">Email logo</dt>
        <dd class="col-sm-7"><%= ftheme.file_field :email_logo, direct_upload: true, accept: "image/png,image/gif,image/jpeg" %></dd>
        <dt class="col-sm-5">White logo</dt>
        <dd class="col-sm-7"><%= ftheme.file_field :white_logo, direct_upload: true, accept: "image/png,image/gif,image/jpeg" %></dd>
        <dt class="col-sm-5">Wide logo</dt>
        <dd class="col-sm-7"><%= ftheme.file_field :wide_logo, direct_upload: true, accept: "image/png,image/gif,image/jpeg" %></dd>
        <dt class="col-sm-5">Background</dt>
        <dd class="col-sm-7"><%= ftheme.file_field :background, direct_upload: true, accept: "image/png,image/gif,image/jpeg" %></dd>
        <dt class="col-sm-5">Booking Process Image</dt>
        <dd class="col-sm-7"><%= ftheme.file_field :booking_process_image, direct_upload: true, accept: "image/png,image/gif,image/jpeg" %></dd>

      </dl>
    <% end %>
      <dl class="row">
        <dt class="col-12">Max Dimensions</dt>
        <%= render "max_dimensions" %>
      </dl>
    </div>

      <div class="col-sm-6">
        <div id="jsoneditor"></div>
        <%= f.hidden_field :scope, value: @render_scope.to_json %>
      </div>

  </div>
<% end %>

<script type="text/javascript">
  var container = document.getElementById('jsoneditor');
  var options = {
    modes: ['form', 'tree'],
    onChangeText: function(jsonString) { document.getElementById('organization_scope').value = jsonString }
  };
  var editor = new JSONEditor(container, options, JSON.parse(document.getElementById('organization_scope').value));
  editor.expandAll()
</script>
