
<mj-section padding="0">
  <mj-column width="100%" padding="0 5%">
      <mj-table>
        <tr style="border-bottom:1px solid #ecedee;text-align:left;padding:15px 0;">
        <% if @shipment.load_type == 'container' %>
            <th style="padding: 0 15px 0 0;">Quantity</th>
            <th style="padding: 0 15px;">Size Class</th>
            <th style="padding: 0 15px;">Payload in Kg</th>
            <th style="padding: 0 0 0 15px;">Gross Weight</th>
          </tr>
            <% @shipment.containers.each do |container| %>
              <tr>
                <td style="padding: 0 15px 0 0;"><%= container.quantity %></td>
                <td style="padding: 0 15px;"><%= container.cargo_class.humanize.upcase %></td>
                <td style="padding: 0 15px;"><%= "#{container.payload_in_kg} kg" %></td>
                <td style="padding: 0 0 0 15px;"><%= "#{container.gross_weight} kg" %></td>
              </tr>
            <% end %>
          </mj-table>
        <% else %>
          <% @shipment.cargo_items.each do |cargo_item| %>
            <th style="padding: 0 15px 0 0;">Quantity</th>
            <th style="padding: 0 15px;">Size Class</th>
            <th style="padding: 0 15px;">Cargo Type</th>
            <th style="padding: 0 15px;">Length / Width / Height</th>
            <th style="padding: 0 0 0 15px;">Weight</th>
          </tr>
          <mj-table>
            <tr>
                <td style="padding: 0 15px 0 0;"><%= cargo_item.quantity %></td>
                <td style="padding: 0 15px;"><%= cargo_item.cargo_class.upcase %></td>
                <td style="padding: 0 15px;"><%= cargo_item.cargo_item_type.description %></td>
                <td style="padding: 0 15px;">
                  <%= "#{cargo_item.length} cm x #{cargo_item.width} cm x #{cargo_item.height} cm" %>
                </td>
                <td style="padding: 0 0 0 15px;">
                  <% if @scope.dig('consolidation', 'cargo') %>
                    <%= "#{(cargo_item.payload_in_kg*cargo_item.quantity).round(2)} kg" %>
                  <% else %>
                    <%= "#{cargo_item.payload_in_kg} kg" %>
                  <% end %>
                </td>
            </tr>
          </mj-table>
          <% end %>
        <% end %>
  </mj-column>
</mj-section>
