<% primary_color = @shipment.tenant.theme["colors"]["primary"] %>
<mj-section padding="10px 0">
  <mj-column width="100%" padding-top="0"> 
    <mj-divider border-width="1px" padding="0" padding-bottom="14px" border-color="#E0E0E0"></mj-divider>
  </mj-column>
</mj-section>

  <mj-section padding="10px 0">
    <mj-column padding="0 5%">
      <mj-text padding="0">
        <h3 style="margin: 0;">
          Shipment ID: <%= @shipment.imc_reference %>
        </h3>
      </mj-text>
      <mj-text padding-left="0">
        <p style="margin: 0;"> 
          Booking placed at:
          <%= @shipment.booking_placed_at.strftime('%d.%m.%Y %H:%M') %>
        </p>
      </mj-text>
    </mj-column>
  </mj-section>
  
  <mj-section background-color="#f3f3f3">
    <mj-group vertical-align="middle">
      <mj-column padding="0 5% 0 42%" width="14%">
        <mj-text padding="20px 0">
          <%= image_tag attachments['icon.png'].url, alt: "#{@shipment.mode_of_transport}", style: "width: 30px" %>
        </mj-text>
      </mj-column>
      <mj-column padding-left="0" width="76%">
        <mj-text line-height="16px" padding="0" font-size="17px">
          <p>
            <% if @shipment.has_pre_carriage? && @shipment.pickup_address %>
              <strong>From: </strong>
              <% @shipment.pickup_address.geocoded_address.split(", ").each do |address_elem| %>
                <% if address_elem %>
                  <span><%= address_elem %></span>
                <% end %>  
              <% end %>  
            <% else %>
              From: <strong><%= @shipment.origin_hub.name %></strong>
            <% end %>
          </p>
          <p>
            <% if @shipment.has_on_carriage? && @shipment.delivery_address %>
              <strong>To: </strong>
              <% @shipment.delivery_address.geocoded_address.split(", ").each do |address_elem| %>
                <% if address_elem %>
                  <span><%= address_elem %></span><br/>
                <% end %>  
              <% end %>  
            <% else %>
              To: <strong><%= @shipment.destination_hub.name %></strong>
            <% end %>
          </p>
        </mj-text>
      </mj-column>
      <mj-column width="10%">
        <mj-text padding="28px 0">
          <a href="<%= @shipment_page %>" target="_blank">View</a>
        </mj-text>
      </mj-column>
    </mj-group>
  </mj-section>
