<% primary_color = @user.tenant.theme["colors"]["primary"] %>
<mj-text>
  <p style="display: none;max-height: 0px;overflow: hidden;">
    <%= greeting_text %>
  </p>
</mj-text>
<mj-text>
  <p style="display: none;max-height: 0px;overflow: hidden;">
    &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
  </p>
</mj-text>

<mj-section padding="20px 5%" background-color="#BDBDBD">
  <mj-column>
    <mj-image width="150px" align="left" src="<%= @user.tenant.theme["logoWhite"] %>" />
  </mj-column>
  <mj-column>
    <mj-navbar base-url="" hamburger="hamburger" ico-color="white">
      <mj-navbar-link href="<%= @user.tenant.scope.dig('links', 'about')%>" color="white">about us</mj-navbar-link>
      <mj-navbar-link href="<%= @user.tenant.scope.dig('links', 'contact')%>" color="white">help</mj-navbar-link>
    </mj-navbar>
  </mj-column>
</mj-section>

<mj-wrapper full-width="full-width" padding="0px">
  <mj-section full-width="full-width" padding="0px">
    <mj-column width="100%" padding="30px 2.5% 0 2.5%">
      <mj-text>
        <p style="margin-bottom: 0;">
          Hello <span><%= @user.full_name %>,</span>
        </p>
      </mj-text>
    </mj-column>
    <mj-column width="100%" padding="0 2.5%">
      <mj-text line-height="24px">
        <p style="margin-top: 0;">
          <%= greeting_text %>
        </p>
      </mj-text>
    </mj-column>
  </mj-section>
</mj-wrapper>
<%= render "details_body.mjml" %>
<% if defined? closing_text %>
<%= render "closing_lines.mjml", closing_text: closing_text, user: @user %>
<% end %>
<mj-wrapper full-width="full-width" padding="0px">
  <mj-section full-width="full-width">
    <mj-column>
      <mj-divider border-width="4px" border-style="solid" border-color="<%= primary_color %>" />
    </mj-column>
  </mj-section>
</mj-wrapper>
