<!DOCTYPE html>
<html>
<head>
  <title>Admiralty - ItsMyCargo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "admiralty_assets/application", media: "all" %>
  <%= javascript_include_tag "admiralty_assets/application" %>
  <%= csrf_meta_tags %>
</head>

<body class="text-center <%= controller_classes %>">
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>
