<div class="wrapper-quotations">
  <% primary_color = theme.primary_color %>
  <% neutral_color = '#C4C4C4' %>
  <% tenant_logo_asset = "logoLarge_" + organization["slug"] + ".png" %>
  <% precarriage_color = quotation.pickup_address.present? ? primary_color : neutral_color %>
  <% oncarriage_color = quotation.delivery_address.present? ? primary_color : neutral_color %>
  <% weight_units = scope['values']['weight'] %>

  <div class="title">
    <div class="title-left">
      <div class="title-logo">
        <img src="data:image/png;base64,<%=logo%>" alt="" class="header-logo">
      </div>
    </div>
    <div class="title-info">
      <%= render "pdf/partials/quotation/client", user_profile: quotation.user_profile %>
      <%= render "pdf/partials/quotation/company", company: company %>
      <%= render "pdf/partials/quotation/address", address: address %>
    </div>
  </div>

  <% tenders.each do |tender| %>
    <% origin_fee_color = tender.export? ? primary_color : neutral_color %>
    <% destination_fee_color = tender.import? ? primary_color : neutral_color %>
    <div class="all-row">
      <div class="main-container">
        <% if tender.valid_until.present? %>
          <div class="validity">
            <p><b>Price valid until:</b></p>
            <p class="text-right"><%= tender.valid_until&.strftime('%d.%m.%Y') %></p>
          </div>
        <% end %>
        <div class="info">
          <% if tender.mode_of_transport == "ocean" %>
            <% mot = "anchor" %>
          <% elsif tender.mode_of_transport == "air" %>
            <% mot = "plane" %>
          <% else %>
            <% mot = "truck" %>
          <% end %>
          <i class="fa fa-<%= mot %> mot-icon" style="color: <%= primary_color %>"></i>
          <div class="shipment-info">
            <p>
              From:&nbsp;
              <span>
                <%= tender.origin %>
                <% if tender.origin_free_out %>
                  (Free Out)
                <% end %>
              </span>
            </p>
            <p>
              To:&nbsp;
              <span>
                <%= tender.destination %>
                <% if tender.destination_free_out %>
                  (Free Out)
                <% end %>
              </span>
            </p>
            <p>Ref:&nbsp;<span><%= tender.imc_reference %></span></p>
          </div>
          <div class="text-right cargo-info">
            <% if scope.dig('tender_card', 'sections', 'charge_icons') %>
              <div class="charge-icons">
                <i class="fa fa-truck" style="color: <%= precarriage_color %>"></i>
                <i class="fa fa-file" style="color: <%= origin_fee_color %>"></i>
                <i class="fa fa-<%= mot %>" style="color: <%= primary_color %>"></i>
                <i class="fa fa-file" style="color: <%= destination_fee_color %>"></i>
                <i class="fa fa-truck flip" style="color: <%= oncarriage_color %>"></i>
              </div>
            <% end %>
            <p class="voyage-info">
              <strong>Weight:</strong>
              <%= tender.cargo.total_weight_humanize %>
            </p>
            <% if tender.load_type != 'container'%>
              <p class="voyage-info">
                <strong>Volume:</strong>
                <%= tender.cargo.total_volume.value.round(3) %>&nbsp;m<sup>3
              </p>
            <% end %>
            <% if tender.vessel_name %>
              <p class="voyage-info">
                <strong>Vessel:</strong>
                <%= tender.vessel_name %>
              </p>
            <% end %>
            <% if tender.transshipment.present? %>
              <p class="voyage-info">
                <strong>Transshipment Via:</strong>
                <%= tender.transshipment %>
              </p>
            <% end %>
            <% if tender.carrier.present? && scope.dig('voyage_info', 'carrier').present? %>
              <p class="voyage-info">
                <strong>Carrier:</strong>
                <%= tender.carrier %>
              </p>
            <% end %>
            <% if tender.service_level.present? && scope.dig('voyage_info', 'service_level').present? %>
              <p class="voyage-info">
                <strong>Service:</strong>
                <%= tender.service_level.capitalize %>
              </p>
            <% end %>
            <% if tender.transit_time.present? && scope.dig('voyage_info', 'transit_time').present?%>
              <p class="voyage-info">
                <strong>Estimated T/T:</strong>
                <%= "#{tender.transit_time} days" %>
              </p>
            <% end %>
          </div>
        </div>
        <% if tender.pickup_address || tender.delivery_address %>
          <div class="delivery-info">
            <% if tender.pickup_address.present? %>
              <p> 
                <b> Pickup from</b>: 
                <%=  tender.full_pickup_address %>
                <%= tender.pre_carriage_service %>
              </p>
            <% end %>
            <% if tender.delivery_address.present? %>
              <p> 
                <b> Delivery to</b>: 
                <%=  tender.full_delivery_address  %>
                <%=  tender.on_carriage_service  %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= render template: "pdf/partials/quotation/cargo_section", locals: { tender: tender } %>
      <table class="data-table">
        <% tender.fees.each do |fee| %>
          <% next if fee[:level].zero? %>
          <%= render template: "pdf/partials/breakdowns/level_x_fee", locals: { fee: fee, tender: tender, scope: scope } %>
        <% end %>
      </table>
      <%= tender.grand_total_section %>
      <div class="exchange-row">
        <table class="exchange-table">
          <tr class="exchange-table-row">
            <td class="exchange-table-cell">
              <p> Exchange Rates: </p> 
            </td>
          </tr>
          <% tender.exchange_rates.each do |currency, rate| %>
            <% next if currency == 'base' %>
            <%= render template: "pdf/partials/breakdowns/exchange_rate_row", locals: { rate: rate, base: tender.currency, currency: currency } %>
          <% end %>
        </table>
      </div>
      <div class="note-remarks-row">
        <% quotation.note_remarks.each do |note_remark| %>
          <p class="note-remark-text"><%= note_remark %></p>
          <br>
        <% end %>
      </div>
      <% if quotation.scope_notes.present? %>
        <div class="tenant-notes-row">
          <% quotation.scope_notes.each do |tender_note| %>
            <p class="">
              <%= tender_note %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if tender.notes.present? %>
      <div class="remarks">
        <h4>Notes: </h4>
        <ul> <% tender.notes.each do |note| %>
          <li class="note-header"> <%= note.header %></li>
          <li class="note-body">
            <% if note.contains_html %>
              <p class="hyphens">
                <%= simple_format(note.body)  %>
              </p>
            <% else %>
              <%== note.body %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless quotation.remarks.empty? %>
      <div class="remarks">
        <h4>Remarks:</h4>
        <ul>
          <% quotation.remarks.each do  |remark|%>
            <li>
              <p class="hyphens">
                <%= simple_format(remark.body) %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless quotation.content['disclaimer'].nil? %>
      <div class="remarks">
        <ul> <% quotation.content['disclaimer'].each do |section| %>
          <li class="note-header"> <%= section['text'].html_safe %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="page-break"></div>
  <% end %>
</div>
