<div class="wrapper-quotations">
  <% primary_color = theme.primary_color %>
  <% neutral_color = '#C4C4C4' %>
  <% tenant_logo_asset = "logoLarge_" + organization["slug"] + ".png" %>
  <% precarriage_color = query.pre_carriage? ? primary_color : neutral_color %>
  <% oncarriage_color = query.on_carriage? ? primary_color : neutral_color %>
  <% weight_units = scope['values']['weight'] %>

  <div class="title">
    <div class="title-left">
      <div class="title-logo">
        <img src="data:image/png;base64,<%=logo%>" alt="" class="header-logo">
      </div>
    </div>
    <div class="title-info">
      <%= render "pdf/partials/quotation/client", user_profile: query.user_profile %>
      <%= render "pdf/partials/quotation/company", company: company %>
      <%= render "pdf/partials/quotation/address", address: address %>
    </div>
  </div>

  <% results.each do |result| %>
    <% origin_fee_color = result.export? ? primary_color : neutral_color %>
    <% destination_fee_color = result.import? ? primary_color : neutral_color %>
    <div class="all-row">
      <div class="main-container">
        <% if result.valid_until.present? %>
          <div class="validity">
            <p><b>Price valid until:</b></p>
            <p class="text-right"><%= result.valid_until&.strftime('%d.%m.%Y') %></p>
          </div>
        <% end %>
        <div class="info">
          <% if result.mode_of_transport == "ocean" %>
            <% mot = "anchor" %>
          <% elsif result.mode_of_transport == "air" %>
            <% mot = "plane" %>
          <% else %>
            <% mot = "truck" %>
          <% end %>
          <i class="fa fa-<%= mot %> mot-icon" style="color: <%= primary_color %>"></i>
          <div class="shipment-info">
            <p>
              From:&nbsp;
              <span>
                <%= result.origin %>
                <% if result.origin_free_out %>
                  (Free Out)
                <% end %>
              </span>
            </p>
            <p>
              To:&nbsp;
              <span>
                <%= result.destination %>
                <% if result.destination_free_out %>
                  (Free Out)
                <% end %>
              </span>
            </p>
            <p>Ref:&nbsp;<span><%= result.imc_reference %></span></p>
          </div>
          <div class="text-right cargo-info">
            <% if scope.dig('quote_card', 'sections', 'charge_icons') %>
              <div class="charge-icons">
                <i class="fa fa-truck" style="color: <%= precarriage_color %>"></i>
                <i class="fa fa-file" style="color: <%= origin_fee_color %>"></i>
                <i class="fa fa-<%= mot %>" style="color: <%= primary_color %>"></i>
                <i class="fa fa-file" style="color: <%= destination_fee_color %>"></i>
                <i class="fa fa-truck flip" style="color: <%= oncarriage_color %>"></i>
              </div>
            <% end %>
            <p class="voyage-info">
              <strong>Weight:</strong>
              <%= result.query.total_weight.humanize %>
            </p>
            <% if result.load_type != 'container'%>
              <p class="voyage-info">
                <strong>Volume:</strong>
                <%= result.query.total_volume.value.round(3) %>&nbsp;m<sup>3
              </p>
            <% end %>
            <% if result.vessel_name.present? %>
              <p class="voyage-info">
                <strong>Vessel:</strong>
                <%= result.vessel_name %>
              </p>
            <% end %>
            <% if result.transshipment.present? %>
              <p class="voyage-info">
                <strong>Transshipment Via:</strong>
                <%= result.transshipment %>
              </p>
            <% end %>
            <% if result.carrier.present? && scope.dig('voyage_info', 'carrier').present? %>
              <p class="voyage-info">
                <strong>Carrier:</strong>
                <%= result.carrier %>
              </p>
            <% end %>
            <% if result.service_level.present? && scope.dig('voyage_info', 'service_level').present? %>
              <p class="voyage-info">
                <strong>Service:</strong>
                <%= result.service_level.capitalize %>
              </p>
            <% end %>
            <% if result.transit_time.present? && scope.dig('voyage_info', 'transit_time').present?%>
              <p class="voyage-info">
                <strong>Estimated T/T:</strong>
                <%= "#{result.transit_time} days" %>
              </p>
            <% end %>
          </div>
        </div>
        <% if result.pickup_address || result.delivery_address %>
          <div class="delivery-info">
            <% if result.pre_carriage_section.present? %>
              <p>
                <b> Pickup from</b>:
                <%=  result.full_pickup_address %>
                <%= result.formatted_pre_carriage_service %>
              </p>
            <% end %>
            <% if result.on_carriage_section.present? %>
              <p>
                <b> Delivery to</b>:
                <%=  result.full_delivery_address  %>
                <%=  result.formatted_on_carriage_service  %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= render template: "pdf/partials/quotation/cargo_section", locals: { result: result } %>
      <table class="data-table">
        <% result.fees.each do |fee| %>
          <% next if fee[:level].zero? %>
          <%= render template: "pdf/partials/breakdowns/level_x_fee", locals: { fee: fee, result: result, scope: scope } %>
        <% end %>
      </table>
      <%= result.grand_total_section %>
      <div class="exchange-row">
        <table class="exchange-table">
          <tr class="exchange-table-row">
            <td class="exchange-table-cell">
              <p> Exchange Rates: </p>
            </td>
          </tr>
          <% result.exchange_rates.each do |currency, rate| %>
            <% next if currency == 'base' %>
            <%= render template: "pdf/partials/breakdowns/exchange_rate_row", locals: { rate: rate, base: result.currency, currency: currency } %>
          <% end %>
        </table>
      </div>
      <div class="note-remarks-row">
        <% query.note_remarks.each do |note_remark| %>
          <p class="note-remark-text"><%= note_remark %></p>
          <br>
        <% end %>
      </div>
      <% if query.scope_notes.present? %>
        <div class="tenant-notes-row">
          <% query.scope_notes.each do |result_note| %>
            <p class="">
              <%= result_note %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if result.notes.present? %>
      <div class="remarks">
        <h4>Notes: </h4>
        <ul> <% result.notes.each do |note| %>
          <li class="note-header"> <%= note.header %></li>
          <li class="note-body">
            <% if note.contains_html %>
              <p class="hyphens">
                <%= simple_format(note.body)  %>
              </p>
            <% else %>
              <%== note.body %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless query.remarks.empty? %>
      <div class="remarks">
        <h4>Remarks:</h4>
        <ul>
          <% query.remarks.each do  |remark|%>
            <li>
              <p class="hyphens">
                <%= simple_format(remark.body) %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= query.render_payment_terms %>

    <% unless query.content['disclaimer'].nil? %>
      <div class="remarks">
        <ul> <% query.content['disclaimer'].each do |section| %>
          <li class="note-header"> <%= section['text'].html_safe %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="page-break"></div>
  <% end %>
</div>
