<div class="wrapper-quotations">
  <% primary_color = theme.primary_color %>
  <% neutral_color = '#C4C4C4' %>
  <% tenant_logo_asset = "logoLarge_" + tenant["subdomain"] + ".png" %>
  <% precarriage_color = shipment.has_pre_carriage ? primary_color : neutral_color %>
  <% oncarriage_color = shipment.has_on_carriage ? primary_color : neutral_color %>
  <% weight_units = scope['values']['weight'] %>

  <div class="title display-flex">
    <div class="title-left">
      <h1>QUOTATIONS</h1>
      <hr style="border-color: <%= primary_color %>">
      <p><%= tenant.name %></p>
    </div>
    <div class="title-logo">
      <img src="data:image/png;base64,<%=logo%>" alt="" class="header-logo">
    </div>
    <div class="agent-info">
        <p><strong><%= shipper_profile.first_name %> <%= shipper_profile.last_name %></strong></p>
        <p><%= shipment.user.email %></p>
        <p><%= shipper_profile.phone %></p>
        <% if shipment.user.external_id %>
          <p>Customer ID: <%= shipment.user.external_id.to_i %></p>
        <% end %>
    </div>
  </div>

  <% quotes.each do |quote| %>
    <% origin_fee_color = quote["export"] ? primary_color : neutral_color %>
    <% destination_fee_color = quote["import"] ? primary_color : neutral_color %>
    <div class="all-row">
      <div class="main-container">
        <% if quote['valid_until'].present? %>
          <div class="validity">
            <p><b>Price valid until:</b></p>
            <p class="text-right"><%= quote['valid_until']&.strftime('%d.%m.%Y') %></p>
          </div>
        <% end %>
        <div class="info">
          <% if quote['mode_of_transport'] == "ocean" %>
            <% mot = "anchor" %>
          <% elsif quote['mode_of_transport'] == "air" %>
            <% mot = "plane" %>
          <% else %>
            <% mot = "truck" %>
          <% end %>
          <i class="fa fa-<%= mot %> mot-icon" style="color: <%= primary_color %>"></i>
          <div class="shipment-info">
            <p>
              From:&nbsp;
              <span>
                <%= quote['origin'] %>
                <% if quote['origin_free_out'] %>
                  (Free Out)
                <% end %>
              </span>
            </p>
            <p>
              To:&nbsp;
              <span>
                <%= quote['destination'] %>
                <% if quote['destination_free_out'] %>
                  (Free Out)
                <% end %>
              </span>
            </p>
            <p>Ref:&nbsp;<span><%= quote['imc_reference'] %></span></p>
          </div>
          <div class="text-right cargo-info">
            <% if scope.dig('quote_card', 'sections', 'charge_icons') %>
              <div class="charge-icons">
                <i class="fa fa-truck" style="color: <%= precarriage_color %>"></i>
                <i class="fa fa-file" style="color: <%= origin_fee_color %>"></i>
                <i class="fa fa-<%= mot %>" style="color: <%= primary_color %>"></i>
                <i class="fa fa-file" style="color: <%= destination_fee_color %>"></i>
                <i class="fa fa-truck flip" style="color: <%= oncarriage_color %>"></i>
              </div>
            <% end %>
            <p class="voyage-info">
              <strong>Weight:</strong>
              <% w_value = weight_units['unit'] == 'kg' ? cargo_data[:kg][quote['shipment_id']] : cargo_data[:kg][quote['shipment_id']] / 1000 %>
              <%="#{"%.#{weight_units['decimals']}f" % w_value} #{weight_units['unit']}" %>&nbsp;
            </p>
            <% if quote['load_type'] != 'container'%>
              <p class="voyage-info">
                <strong>Volume:</strong>
                <%= '%.3f' % cargo_data[:vol][quote['shipment_id']] %>&nbsp;m<sup>3</sup>
              </p>
            <% end %>
            <% if shipment.vessel_name %>
              <p class="voyage-info">
                <strong>Vessel:</strong>
                <%= shipment.vessel_name %>
              </p>
            <% end %>
            <% if quote['transshipment'].present? %>
              <p class="voyage-info">
                <strong>Transshipment Via:</strong>
                <%= quote['transshipment'] %>
              </p>
            <% end %>
            <% if quote['carrier'].present? && scope.dig('voyage_info', 'carrier').present? %>
              <p class="voyage-info">
                <strong>Carrier:</strong>
                <%= quote['carrier'] %>
              </p>
            <% end %>
            <% if quote['service_level'].present? && scope.dig('voyage_info', 'service_level').present? %>
              <p class="voyage-info">
                <strong>Service:</strong>
                <%= quote['service_level'] %>
              </p>
            <% end %>
          </div>
        </div>
        <% if quote['pickup_address'] || quote['delivery_address'] %>
          <div class="delivery-info">
            <div class="cargo-info">
              <% if quote['pickup_address'].present? %> <p> <b> Pickup from</b>: <%=  quote['pickup_address'] %> </p> <% end %>
              <% if quote['delivery_address'].present? %> <p> <b> Delivery to</b>: <%=  quote['delivery_address']  %></p>  <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="no-padding">
        <div class="sub-prices">
          <div class="total-price-single">
            <h4>Cargo Details</h4>
          </div>
          <% cargo_units[quote['shipment_id']]&.select {|cargo| cargo.is_a?(Legacy::CargoItem) }.each_with_index do |cargo, i| %>
            <div class="no_page_break item-group">
              <div class="title_row">
                <p class=""><strong><%= cargo.quantity %>&nbsp;x</strong> <%= cargo.cargo_item_type.description %></p>
              </div>
              <table class="data-table">
                <tr>
                  <td class="table-title">
                    <p >
                      <%=
                        [cargo.width, cargo.length, cargo.height]
                          .map{|v| "#{format('%.2f',v)} cm"}.join(' x ')
                      %>
                    </p>
                  </td>
                  <td class="table-value"><span><%= '%.3f' % cargo.volume %>&nbsp;m<sup>3</span></sup></td>
                </tr>
                <% unless scope['cargo_overview_only'] %>
                  <tr>
                    <td class="table-title"><p>Gross&nbsp;Weight&nbsp;per&nbsp;Item</p></td>
                    <td class="table-value">
                      <% gw_value = weight_units['unit'] == 'kg' ? cargo.payload_in_kg : (cargo.payload_in_kg / 1000) %>
                      <span><%="#{"%.#{weight_units['decimals']}f" % gw_value} #{weight_units['unit']}" %></span>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td class="table-title"><p>Quantity</p></td>
                  <td class="table-value"><span><%= cargo.quantity %></span></td>
                </tr>
                <tr>
                  <td class="table-title"><p>Total Volume</p></td>
                  <td class="table-value"><span><%= '%.3f' % (cargo.volume * cargo.quantity) %>&nbsp;m<sup>3</span></sup></td>
                </tr>
                <tr>
                  <td class="table-title"><p>Total&nbsp;Gross&nbsp;Weight</p></td>
                  <td class="table-value">
                    <% tgw_value = weight_units['unit'] == 'kg' ? cargo.payload_in_kg * cargo.quantity : (cargo.payload_in_kg * cargo.quantity / 1000) %>
                    <span><%="#{"%.#{weight_units['decimals']}f" % tgw_value} #{weight_units['unit']}" %></span>
                  </td>
                </tr>
                <tr>
                  <td class="table-title"><p><%== cargo_data[:chargeable_weight][quote['shipment_id']][cargo.id.to_s][:total_title] %></p></td>
                  <td class="table-value"><span><%== cargo_data[:chargeable_weight][quote['shipment_id']][cargo.id.to_s][:total_value] %></span></td>
                </tr>
              </table>
            </div>

          <% end %>
          <% cargo_units[quote['shipment_id']]&.select {|cargo| cargo.is_a?(Legacy::Container) }.each_with_index do |container, i| %>
            <div class="no_page_break item-group">
              <div class="title_row">
                <p class=""><strong><%= container.quantity %>&nbsp;x</strong> <%= container.size_class.humanize.upcase %></p>
              </div>
              <table class="data-table">
                <tr>
                  <td class="table-title"><p>Quantity</p></td>
                  <td class="table-value"><span><%= container.quantity %></span></td>
                </tr>

                <tr>
                  <td class="table-title"><p>Cargo Type</p></td>
                  <td class="table-value"><span><%= container.size_class.humanize.upcase %></span></sup></td>
                </tr>
                <% unless scope['cargo_overview_only'] %>
                  <tr>
                    <td class="table-title"><p>Gross&nbsp;Weight&nbsp;per&nbsp;Container</p></td>
                    <td class="table-value">
                      <% gw_value = weight_units['unit'] == 'kg' ? container.payload_in_kg : (container.payload_in_kg / 1000) %>
                      <span>
                        <%="#{"%.#{weight_units['decimals']}f" % gw_value} #{weight_units['unit']}" %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td class="table-title"><p>Total&nbsp;Gross&nbsp;Weight</p></td>
                  <td class="table-value">
                    <% tgw_value = weight_units['unit'] == 'kg' ? container.payload_in_kg * container.quantity : (container.payload_in_kg * container.quantity / 1000) %>
                    <span><%="#{"%.#{weight_units['decimals']}f" % tgw_value} #{weight_units['unit']}" %></span>
                  </td>
                </tr>
              </table>
            </div>

          <% end %>
          <% if  cargo_units.all? {|cargo| cargo.is_a?(Legacy::AggregatedCargo) } %>
            <div class="no_page_break item-group">
              <div class="title_row">
                <p class=""><strong>Aggregated Cargo</strong></p>
              </div>
              <table class="data-table">
                <tr>
                  <td class="table-title"><p>Total&nbsp;Gross&nbsp;Weight</p></td>
                  <td class="table-value">
                    <span>
                    <%="#{"%.#{weight_units['decimals']}f" % weight_units['unit'] == 'kg' ? cargo_units.first.weight : cargo_units.first.weight / 1000 }
                     #{weight_units['unit']}" %></span>
                  </td>
                </tr>
                <tr>
                  <td class="table-title"><p>Total Volume</p></td>
                  <td class="table-value"><span><%= '%.3f' % (cargo_units.first.volume) %>&nbsp;m<sup>3</span></sup></td>
                </tr>
                <tr>
                  <td class="table-title">
                    <p>
                      <%== cargo_data[:chargeable_weight][quote['shipment_id']][cargo_units.first.id.to_s][:total_title] %>
                    </p>
                  </td>
                  <td class="table-value">
                    <span>
                      <%== cargo_data[:chargeable_weight][quote['shipment_id']][cargo_units.first.id.to_s][:total_value] %>
                    </span>
                  </td>
                </tr>
              </table>
            </div>

          <% end %>
        </div>
      </div>
      <% ['trucking_pre', 'export', 'cargo', 'import', 'trucking_on' ].each do |charge_key| %>
        <% if scope['freight_in_original_currency']  && charge_key == 'cargo'
            original_charge = quote[charge_key]
            charge = {
              "total" => {
                "value" => 0.0,
                "currency" => ""
              }
            }
            original_charge.keys
              .reject {|k| ['name', 'total', 'edited_total'].include?(k)}
              .each do |k|
                charge[k] = original_charge[k]
                charge[k]['total'] = {'value' => 0.0 }
                item_charge_keys = original_charge[k].keys
                  .reject {|fk| ['name', 'total', 'edited_total'].include?(fk)}
                if item_charge_keys.length == 1 && item_charge_keys.first.include?('unknown')
                  hide_cargo_sub_totals = true
                end
                item_charge_keys.each do |fk|
                  charge['total']['value'] += original_charge[k][fk]['value']
                  charge['total']['currency'] = original_charge[k][fk]['currency']
                  charge[k]['total']['value'] += original_charge[k][fk]['value']
                  charge[k]['total']['currency'] = original_charge[k][fk]['currency']
                end
              end
              charge['name'] = original_charge['name']
          elsif %w(import export).include?(charge_key) && scope['condense_local_fees_pdf']
            tmp_charge = quote[charge_key]
            next unless tmp_charge
            charge = tmp_charge.slice('name', 'total', 'edited_total')
            charge[quote['load_type']] = { "total" => { "currency" => '', "value" => 0.00}}
            tmp_charge.except('name', 'total', 'edited_total').keys.each do |k|
              tmp_charge[k].except('name', 'total', 'edited_total').keys.each do |fk|
                charge[quote['load_type']][fk] = tmp_charge[k][fk]
                charge[quote['load_type']]['total']['value'] += tmp_charge.dig(k, 'total', 'value') || 0.00
                charge[quote['load_type']]['total']['currency'] = tmp_charge.dig(k, 'total', 'currency') || tmp_charge.dig('total', 'currency')
              end
            end
          else
            charge = quote[charge_key]
          end %>
        <% next if !charge%>
        <% charge_name =  if charge_key == 'cargo' && charge['name'] == 'Freight'
                            "#{quote['mode_of_transport']&.capitalize} Freight"
                          else
                            charge["name"]
                          end
        %>
        <div class="sub-prices no_page_break">
          <div class="total-price-single">
            <h4>
                <%= charge_name %>
                <% if
                    scope['show_chargeable_weight'] &&
                    !['import', 'export'].include?(charge_key) &&
                    cargo_data.dig(:chargeable_weight, quote['shipment_id'], charge_key.to_sym).present?
                %>
                  <%== cargo_data[:chargeable_weight][quote['shipment_id']][charge_key.to_sym] %>
                 <% end %>
            </h4>
             <% if charge_key == 'cargo'
                no_custom_fees = charge
                                 .except('name', 'edited_total', 'total')
                                 .values
                                 .flat_map(&:keys).none? {|k| k.include?('unknown')}
              end %>

            <% if charge.dig('total', 'value').present? %>
              <h3><%= charge.dig('total', 'value')&.to_f&.round(2) %>&nbsp;<%= charge.dig('total', 'currency') %></h3>
            <% end %>
          </div>
          <div class="subtotal-price-group">
            <% if charge != "Grand Total" && scope.dig('quote_card', 'sections', charge_key) %>
              <%
                sorted_charges_by_unit = if (charge_key == 'cargo' && !scope['fine_fee_detail'])
                   charge
                      .except("total", "edited_total", "name")
                      .keys.map{|k| obj = charge[k]; obj['key'] = k; obj}
                      .group_by{|c| c['item_id']}
                      .inject({}) do |memo, (k, g)|
                          memo[k] = g.group_by{|c| c['currency']}
                          memo
                      end
                  else
                    charge.except("total", "edited_total", "name").keys
                      .map{|k| obj = charge[k];  obj['item_id'] = k; obj.except("total", "edited_total", "name")}
                      .map{|obj| item_id = obj.delete('item_id'); obj.keys.map{|k| sub_charge = obj[k]; sub_charge['key'] = k; sub_charge['item_id'] = item_id; sub_charge}}
                      .flatten
                      .group_by{|c| c['item_id']}
                      .inject({}) do |memo, (k, g)|
                          memo[k] = g.group_by{|c| c['currency']}
                          memo
                      end
                  end
                %>
              <% sorted_charges_by_unit.each do |unit_and_sorted_charges| %>
                <%
                  unit_id = unit_and_sorted_charges.first
                  sorted_charges = unit_and_sorted_charges.second
                  if unit_id.present? && unit_id[%r{\A-?\d+(\.\d*)?\z}]
                    unit = cargo_units[quote['shipment_id']].find_by(id: unit_id.to_i)
                    desc = quote['load_type'] == 'cargo_item' ? unit&.cargo_item_type&.description : unit&.size_class.humanize.upcase
                  elsif unit_id == 'shipment'
                    desc = 'Shipment Fees'
                  else
                    desc = "#{shipment.load_type.titleize} Fees"
                  end
                %>
                <% if desc.present? %>
                  <div class="cargo_title">
                    <%= unit ? "#{desc} x #{unit.quantity}" : "#{desc}" %>
                  </div>
                <% end %>
                <% sorted_charges.each do |currency_key, sub_charges| %>
                  <%
                    sub_charge_groups = sub_charges.group_by do |sub_charge|
                      case sub_charge['key']
                      when /included/
                        :included
                      when /unknown/
                        :unknown
                      else
                        :standard
                      end
                    end
                  %>
                  <% if (charge_key != 'cargo' || (charge_key == 'cargo' && !hide_cargo_sub_totals)) &&
                      sub_charges.none?{|c| c['key'].include?('unknown')}%>
                    <div class="subtotal-currency-single">
                      <h4>Fees charged in <%= currency_key %>:</h4>
                      <h3>
                        <%=
                          if scope['hide_sub_totals'] && charge_key.include?('unknown')
                            "#{quote['mode_of_transport']&.capitalize} Freight: "
                          elsif charge_key == 'cargo' && !scope['fine_fee_detail']
                            "#{'%.2f' % sub_charges.sum{|c| c['total']['value']}} #{currency_key}"
                          else
                            "#{'%.2f' % sub_charges.sum{|c| c['value']}} #{currency_key}"
                          end
                          %>
                      </h3>
                    </div>
                  <% end %>
                  <% if sub_charge_groups[:standard].present? %>
                    <table class="data-table">
                      <% sub_charge_groups[:standard].each_with_index do |sub_charge, i| %>
                        <tr>
                          <td class="table-title"><p><%= fee_keys_and_names[sub_charge['key']] %></p></td>
                          <td class="table-quantity">
                            <% if 'cargo' == charge_key && scope['fine_fee_detail'] %>

                              <p><%= cargo_data[:item_strings][quote['shipment_id']][sub_charge['item_id']] %></p>
                            <% end %>
                          </td>
                          <% if sub_charge["key"].include?('unknown') %>
                            <td class="table-value"></td>
                          <% elsif sub_charge["value"] %>
                            <td class="table-value"><span> <%= sub_charge["value"]&.to_f&.round(2) %>&nbsp;<%= sub_charge["currency"] %></span></td>
                          <% elsif scope['cargo_price_notes'] && scope['cargo_price_notes'][charge_key] %>
                            <td class="table-value"><span> <%= scope['cargo_price_notes'][charge_key.to_s] %></span></td>
                          <% elsif (!scope['cargo_price_notes'] || scope['cargo_price_notes'] && !scope['cargo_price_notes'][charge_key]) %>
                            <td class="table-value"><span> <%= '%.2f' % sub_charge.dig('total', 'value') %>&nbsp;<%= sub_charge.dig('total', 'currency') %></span></td>
                          <% end %>
                        </tr>
                      <% end %>
                    </table>
                  <% end %>
                  <% if sub_charge_groups[:unknown].present? %>
                    <table class="data-table">
                      <div class="subtotal-currency-single">
                        <h4>Excluded Fees:</h4>
                      </div>
                      <% sub_charge_groups[:unknown].each_with_index do |sub_charge, i| %>
                        <tr>
                          <td class="table-title"><p><%= fee_keys_and_names[sub_charge['key']] %></p></td>
                          <td class="table-quantity">
                            <% if 'cargo' == charge_key && scope['fine_fee_detail'] %>

                              <p><%= cargo_data[:item_strings][quote['shipment_id']][sub_charge['item_id']] %></p>
                            <% end %>
                          </td>
                          <td class="table-value"></td>
                        </tr>
                      <% end %>
                    </table>
                  <% end %>
                  <% if sub_charge_groups[:included].present? %>
                    <table class="data-table">
                      <div class="subtotal-currency-single">
                        <h4>Included Fees:</h4>
                      </div>
                      <% sub_charge_groups[:included].each_with_index do |sub_charge, i| %>
                        <tr>
                          <td class="table-title"><p><%= fee_keys_and_names[sub_charge['key']] %></p></td>
                          <td class="table-quantity">
                            <% if 'cargo' == charge_key && scope['fine_fee_detail'] %>
                              <p><%= cargo_data[:item_strings][quote['shipment_id']][sub_charge['item_id']] %></p>
                            <% end %>
                          </td>
                          <td class="table-value"></td>
                        </tr>
                      <% end %>
                    </table>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% unless quote['total'].nil? %>
        <div class="total-row">
          <h4>Total</h4>
          <p class="quote"><%= quote.dig('total', 'value')&.to_f&.round(2) %>
            &nbsp;<%= quote["total"]["currency"] %>
          </p>
        </div>
      <% end %>
      <div class="note-remarks-row">
        <% note_remarks.each do |note_remark| %>
          <p class="note-remark-text"><%= note_remark %></p>
          <br>
        <% end %>
      </div>
      <% if scope["quote_notes"].present? %>
        <div class="tenant-notes-row">
          <% (scope["quote_notes"] || []).each do |quote_note| %>
            <p class="">
              <%= quote_note %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if notes[quote['shipment_id']].present? %>
      <div class="remarks">
        <h4>Notes: </h4>
        <ul> <% notes[quote['shipment_id']].each do |note| %>
          <li class="note-header"> <%= note.header %></li>
          <li class="note-body">
            <% if note.contains_html %>
              <p class="hyphens">
                <%= simple_format(note.body)  %>
              </p>
            <% else %>
              <%== note.body %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless remarks.empty? %>
      <div class="remarks">
        <h4>Remarks:</h4>
        <ul>
          <% remarks.each do  |remark|%>
            <li>
              <p class="hyphens">
                <%= simple_format(remark.body) %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless content['disclaimer'].nil? %>
      <div class="remarks">
        <ul> <% content['disclaimer'].each do |section| %>
          <li class="note-header"> <%= section['text'] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="page-break"></div>
  <% end %>
</div>
