<div class="wrapper-quotations">
  <% primary_color = theme.primary_color %>
  <% neutral_color = '#C4C4C4' %>
  <% tenant_logo_asset = "logoLarge_" + organization["slug"] + ".png" %>
  <% precarriage_color = shipment.has_pre_carriage ? primary_color : neutral_color %>
  <% oncarriage_color = shipment.has_on_carriage ? primary_color : neutral_color %>
  <% weight_units = scope['values']['weight'] %>

  <div class="title display-flex">
    <div class="title-left">
      <h1>QUOTATIONS</h1>
      <hr style="border-color: <%= primary_color %>">
      <p><%= organization.slug %></p>
    </div>
    <div class="title-logo">
      <img src="data:image/png;base64,<%=logo%>" alt="" class="header-logo">
    </div>
    <div class="agent-info">
        <p><strong><%= shipper_profile.first_name %> <%= shipper_profile.last_name %></strong></p>
        <p><%= shipper_profile.email %></p>
        <p><%= shipper_profile.phone %></p>
    </div>
  </div>

  <% quotes.each do |quote| %>
    <% origin_fee_color = quote["export"] ? primary_color : neutral_color %>
    <% destination_fee_color = quote["import"] ? primary_color : neutral_color %>
    <div class="all-row">
      <div class="main-container">
        <% if quote['valid_until'].present? %>
          <div class="validity">
            <p><b>Price valid until:</b></p>
            <p class="text-right"><%= quote['valid_until']&.strftime('%d.%m.%Y') %></p>
          </div>
        <% end %>
        <div class="info">
          <% if quote['mode_of_transport'] == "ocean" %>
            <% mot = "anchor" %>
          <% elsif quote['mode_of_transport'] == "air" %>
            <% mot = "plane" %>
          <% else %>
            <% mot = "truck" %>
          <% end %>
          <i class="fa fa-<%= mot %> mot-icon" style="color: <%= primary_color %>"></i>
          <div class="shipment-info">
            <p>
              From:&nbsp;
              <span>
                <%= quote['origin'] %>
                <% if quote['origin_free_out'] %>
                  (Free Out)
                <% end %>
              </span>
            </p>
            <p>
              To:&nbsp;
              <span>
                <%= quote['destination'] %>
                <% if quote['destination_free_out'] %>
                  (Free Out)
                <% end %>
              </span>
            </p>
            <p>Ref:&nbsp;<span><%= quote['imc_reference'] %></span></p>
          </div>
          <div class="text-right cargo-info">
            <% if scope.dig('quote_card', 'sections', 'charge_icons') %>
              <div class="charge-icons">
                <i class="fa fa-truck" style="color: <%= precarriage_color %>"></i>
                <i class="fa fa-file" style="color: <%= origin_fee_color %>"></i>
                <i class="fa fa-<%= mot %>" style="color: <%= primary_color %>"></i>
                <i class="fa fa-file" style="color: <%= destination_fee_color %>"></i>
                <i class="fa fa-truck flip" style="color: <%= oncarriage_color %>"></i>
              </div>
            <% end %>
            <p class="voyage-info">
              <strong>Weight:</strong>
              <% w_value = weight_units['unit'] == 'kg' ? cargo_data[:kg][quote['shipment_id']] : cargo_data[:kg][quote['shipment_id']] / 1000 %>
              <%="#{"%.#{weight_units['decimals']}f" % w_value} #{weight_units['unit']}" %>&nbsp;
            </p>
            <% if quote['load_type'] != 'container'%>
              <p class="voyage-info">
                <strong>Volume:</strong>
                <%= '%.3f' % cargo_data[:vol][quote['shipment_id']] %>&nbsp;m<sup>3</sup>
              </p>
            <% end %>
            <% if shipment.vessel_name %>
              <p class="voyage-info">
                <strong>Vessel:</strong>
                <%= shipment.vessel_name %>
              </p>
            <% end %>
            <% if quote['transshipment'].present? %>
              <p class="voyage-info">
                <strong>Transshipment Via:</strong>
                <%= quote['transshipment'] %>
              </p>
            <% end %>
            <% if quote['carrier'].present? && scope.dig('voyage_info', 'carrier').present? %>
              <p class="voyage-info">
                <strong>Carrier:</strong>
                <%= quote['carrier'] %>
              </p>
            <% end %>
            <% if quote['service_level'].present? && scope.dig('voyage_info', 'service_level').present? %>
              <p class="voyage-info">
                <strong>Service:</strong>
                <%= quote['service_level'] %>
              </p>
            <% end %>
          </div>
        </div>
        <% if quote['pickup_address'] || quote['delivery_address'] %>
          <div class="delivery-info">
            <div class="cargo-info">
              <% if quote['pickup_address'].present? %> <p> <b> Pickup from</b>: <%=  quote['pickup_address'] %> </p> <% end %>
              <% if quote['delivery_address'].present? %> <p> <b> Delivery to</b>: <%=  quote['delivery_address']  %></p>  <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="no-padding">
        <div class="sub-prices">
          <div class="total-price-single">
            <h4>Cargo Details</h4>
          </div>
          <% cargo_units[quote['shipment_id']]&.select {|cargo| cargo.is_a?(Legacy::CargoItem) }.each_with_index do |cargo, i| %>
            <div class="no_page_break item-group">
              <div class="title_row">
                <p class=""><strong><%= cargo.quantity %>&nbsp;x</strong> <%= cargo.cargo_item_type.description %></p>
              </div>
              <table class="data-table">
                <tr>
                  <td class="table-title">
                    <p >
                      <%=
                        [cargo.length, cargo.width, cargo.height]
                          .map{|v| "#{format('%.2f',v)} cm"}.join(' x ')
                      %>
                    </p>
                  </td>
                  <td class="table-value"><span><%= '%.3f' % cargo.volume %>&nbsp;m<sup>3</span></sup></td>
                </tr>
                <% unless scope['cargo_overview_only'] %>
                  <tr>
                    <td class="table-title"><p>Gross&nbsp;Weight&nbsp;per&nbsp;Item</p></td>
                    <td class="table-value">
                      <% gw_value = weight_units['unit'] == 'kg' ? cargo.payload_in_kg : (cargo.payload_in_kg / 1000) %>
                      <span><%="#{"%.#{weight_units['decimals']}f" % gw_value} #{weight_units['unit']}" %></span>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td class="table-title"><p>Quantity</p></td>
                  <td class="table-value"><span><%= cargo.quantity %></span></td>
                </tr>
                <tr>
                  <td class="table-title"><p>Total Volume</p></td>
                  <td class="table-value"><span><%= '%.3f' % (cargo.volume * cargo.quantity) %>&nbsp;m<sup>3</span></sup></td>
                </tr>
                <tr>
                  <td class="table-title"><p>Total&nbsp;Gross&nbsp;Weight</p></td>
                  <td class="table-value">
                    <% tgw_value = weight_units['unit'] == 'kg' ? cargo.payload_in_kg * cargo.quantity : (cargo.payload_in_kg * cargo.quantity / 1000) %>
                    <span><%="#{"%.#{weight_units['decimals']}f" % tgw_value} #{weight_units['unit']}" %></span>
                  </td>
                </tr>
                <tr>
                  <td class="table-title"><p><%== cargo_data[:chargeable_weight][quote['shipment_id']][cargo.id.to_s][:total_title] %></p></td>
                  <td class="table-value"><span><%== cargo_data[:chargeable_weight][quote['shipment_id']][cargo.id.to_s][:total_value] %></span></td>
                </tr>
              </table>
            </div>

          <% end %>
          <% cargo_units[quote['shipment_id']]&.select {|cargo| cargo.is_a?(Legacy::Container) }.each_with_index do |container, i| %>
            <div class="no_page_break item-group">
              <div class="title_row">
                <p class=""><strong><%= container.quantity %>&nbsp;x</strong> <%= container.size_class.humanize.upcase %></p>
              </div>
              <table class="data-table">
                <tr>
                  <td class="table-title"><p>Quantity</p></td>
                  <td class="table-value"><span><%= container.quantity %></span></td>
                </tr>

                <tr>
                  <td class="table-title"><p>Cargo Type</p></td>
                  <td class="table-value"><span><%= container.size_class.humanize.upcase %></span></sup></td>
                </tr>
                <% unless scope['cargo_overview_only'] %>
                  <tr>
                    <td class="table-title"><p>Gross&nbsp;Weight&nbsp;per&nbsp;Container</p></td>
                    <td class="table-value">
                      <% gw_value = weight_units['unit'] == 'kg' ? container.payload_in_kg : (container.payload_in_kg / 1000) %>
                      <span>
                        <%="#{"%.#{weight_units['decimals']}f" % gw_value} #{weight_units['unit']}" %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td class="table-title"><p>Total&nbsp;Gross&nbsp;Weight</p></td>
                  <td class="table-value">
                    <% tgw_value = weight_units['unit'] == 'kg' ? container.payload_in_kg * container.quantity : (container.payload_in_kg * container.quantity / 1000) %>
                    <span><%="#{"%.#{weight_units['decimals']}f" % tgw_value} #{weight_units['unit']}" %></span>
                  </td>
                </tr>
              </table>
            </div>

          <% end %>
          <% if  cargo_units.all? {|cargo| cargo.is_a?(Legacy::AggregatedCargo) } %>
            <div class="no_page_break item-group">
              <div class="title_row">
                <p class=""><strong>Aggregated Cargo</strong></p>
              </div>
              <table class="data-table">
                <tr>
                  <td class="table-title"><p>Total&nbsp;Gross&nbsp;Weight</p></td>
                  <td class="table-value">
                    <span>
                    <%="#{"%.#{weight_units['decimals']}f" % weight_units['unit'] == 'kg' ? cargo_units.first.weight : cargo_units.first.weight / 1000 }
                     #{weight_units['unit']}" %></span>
                  </td>
                </tr>
                <tr>
                  <td class="table-title"><p>Total Volume</p></td>
                  <td class="table-value"><span><%= '%.3f' % (cargo_units.first.volume) %>&nbsp;m<sup>3</span></sup></td>
                </tr>
                <tr>
                  <td class="table-title">
                    <p>
                      <%== cargo_data[:chargeable_weight][quote['shipment_id']][cargo_units.first.id.to_s][:total_title] %>
                    </p>
                  </td>
                  <td class="table-value">
                    <span>
                      <%== cargo_data[:chargeable_weight][quote['shipment_id']][cargo_units.first.id.to_s][:total_value] %>
                    </span>
                  </td>
                </tr>
              </table>
            </div>

          <% end %>
        </div>
      </div>
      <table class="data-table">
        <% quote['fees'].each do |fee| %>
          <% next if fee['level'].zero? %>
          <%= render template: "pdf/partials/breakdowns/level_x_fee", locals: { fee: fee, quote: quote, scope: scope, cargo_data: cargo_data } %>
        <% end %>
      </table>
      <% unless quote['total'].nil? %>
        <div class="total-row">
          <h4>Total</h4>
          <p class="quote"><%= quote.dig('total', 'value')&.to_f&.round(2) %>
            &nbsp;<%= quote["total"]["currency"] %>
          </p>
        </div>
      <% end %>
      <div class="exchange-row">
        <table class="exchange-table">
          <tr class="exchange-table-row">
            <td class="exchange-table-cell">
              <p> Exchange Rates: </p> 
            </td>
          </tr>
          <% exchange_rates.each do |currency, rate| %>
            <% next if currency == 'base' %>
            <%= render template: "pdf/partials/breakdowns/exchange_rate_row", locals: { rate: rate, base: quote['currency'], currency: currency } %>
          <% end %>
        </table>
      </div>
      <div class="note-remarks-row">
        <% note_remarks.each do |note_remark| %>
          <p class="note-remark-text"><%= note_remark %></p>
          <br>
        <% end %>
      </div>
      <% if scope["quote_notes"].present? %>
        <div class="tenant-notes-row">
          <% (scope["quote_notes"] || []).each do |quote_note| %>
            <p class="">
              <%= quote_note %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if notes[quote['shipment_id']].present? %>
      <div class="remarks">
        <h4>Notes: </h4>
        <ul> <% notes[quote['shipment_id']].each do |note| %>
          <li class="note-header"> <%= note.header %></li>
          <li class="note-body">
            <% if note.contains_html %>
              <p class="hyphens">
                <%= simple_format(note.body)  %>
              </p>
            <% else %>
              <%== note.body %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless remarks.empty? %>
      <div class="remarks">
        <h4>Remarks:</h4>
        <ul>
          <% remarks.each do  |remark|%>
            <li>
              <p class="hyphens">
                <%= simple_format(remark.body) %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless content['disclaimer'].nil? %>
      <div class="remarks">
        <ul> <% content['disclaimer'].each do |section| %>
          <li class="note-header"> <%= section['text'].html_safe %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="page-break"></div>
  <% end %>
</div>
