<style media="screen" type="text/css">
  body{
    color: black;
    font-size: 130%;
    font-family: 'Actor';
  }
  .col-xs-12{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }

  .col-xs-6{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-2{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-1{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-5{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-3{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-7{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-8{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-9{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-4{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }

  .hr-right{
    border-right: 1px solid #096CAF;
  }
  .hr-bottom{
    border-bottom: 1px solid #096CAF;
  }
  .hr-top{
    border-top: 1px solid #096CAF;
  }
  .hr-left{
    border-left: 1px solid #096CAF;
  }
  .no-padding{
    padding: 0%;
  }
  .watermark {
    color: #6699ff;
    font-size: 100pt;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    position: absolute;
    /*width: 100%;
    height: 100%;
    margin: 0;*/
    z-index: -1;
    left:200px;
    top:550px;
    text-align: center;
    opacity: 0.1;
  }
  .wrapper-vertical {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    text-align: center;
    height: 25mm;
    width: 25mm;
  }
  .vertical {
    white-space: nowrap;
    margin: 0; 
    font-size: 90%;
  }
  .text{
    padding-left: 2px;
  }
  br{
    padding-bottom: 5px;
  }
  .logo {
    width: 145px;
  }
</style>


<div class="wrapper">
  <div class="col-xs-12" style="font-size: 150%; text-align: center;">
    <strong>BILL OF LADING FOR COMBINED TRANSPORT OR PORT TO PORT SHIPMENT</strong>
  </div>

  <div class="container-fluid" > 
    <div class="watermark">COPY</div>
    <!-- first segment  -->
    <div class="col-xs-12 hr-top" style="height: 25mm;">
      <div class="col-xs-5 hr-right">
        <div class="col-xs-1">
          <div class="wrapper-vertical">
            <p class="vertical"><strong> SHIPPER </strong></p>
          </div>
        </div>
        <div class="col-xs-10 " style="padding-top: 3%;height: 25mm;">
          <%= shipment.shipper.full_name %>
        </div>
      </div>
      <div class="col-xs-4 " style="height: 25mm; padding: 10px 0px 5px 5px; text-align: center">
        <%= image_tag shipment.tenant.theme["logoLarge"], class: 'logo' %>
      </div>
      <div class="col-xs-3 hr-left">
        <div class="col-xs-12 text hr-bottom" style="height: 9mm; ">
          <div class="col-xs-2">
            <strong>B/L <br>No.</strong>
          </div>
          <div class="col-xs-9" style="padding-top: 3%;">
            <%= shipment.imc_reference %>
          </div>
        </div>
        <div class="col-xs-12 text hr-bottom" style="height: 9mm; ">
          <div class="col-xs-2">
            <strong>BKG <br>No.</strong>
          </div>
          <div class="col-xs-9" style="padding-top: 3%;">
            <%= shipment.imc_reference %>
          </div>
        </div>
        <div class="col-xs-12 text" style="height: 7mm;">
          <div class="col-xs-2" style="padding-top: 1.5%;" >
            <strong>Page</strong>
          </div>
          <div class="col-xs-9" style="padding-top: 1.5%;">
            1
          </div>
        </div>
      </div>
    </div>
  <!-- Second Segment -->
    <div class="col-xs-12 hr-top" style="height: 55mm;">
      <div class="col-xs-5 hr-right" style="height: 55mm;">
        <div class="col-xs-12" style="height: 25mm;">
          <div class="col-xs-1">
            <div class="wrapper-vertical">
              <p class="vertical"><strong>CONSIGNEE</strong></p>
            </div>
          </div>
          <div class="col-xs-10 " style="padding-top: 3%;">
            <%= shipment.consignee.full_name_and_company %>
          </div>
        </div>
        <div class="col-xs-12 hr-top" style="height: 30mm;">
          <div class="col-xs-1" style="height: 30mm;">
            <div class="wrapper-vertical" style="height: 30mm; width: 30mm;">
              <p class="vertical"><strong>NOTIFY ADDRESS</strong></p>
            </div>
          </div>
          <div class="col-xs-10" style="padding-top: 3%;">
            <% shipment.notifyees.each do |notifyee| %>
              <%= notifyee.full_name_and_company_and_address %> <br>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-7">
        
      </div>    
    </div>

    <!-- Third section -->
    <div class="col-xs-12 hr-top">
      <div class="col-xs-4 hr-right text" style="height: 27mm;">
        <div class="col-xs-12" style="height: 6mm; padding-top: 3px;">
          <div class="col-xs-6"><strong>LOCAL VESSEL</strong></div>
          <div class="col-xs-6 ">N/A</div>
        </div>
        <div class="col-xs-12 hr-top" style="height: 14mm;padding-top: 3px;">
          <div class="col-xs-6">
            <div class="col-xs-12"><strong>OCEAN VESSEL</strong></div>
            <div class="col-xs-12 ">THALASSA XA</div>
          </div>
          <div class="col-xs-6">
            <div class="col-xs-12"><strong>VOYAGE NO.</strong></div>
            <div class="col-xs-12 ">AX901238</div>
          </div>
        </div>
        <div class="col-xs-12 hr-top" style="height: 6mm;padding-top: 3px;">
          <div class="col-xs-6"><strong>PORT OF DISCHARGE</strong></div>
          <div class="col-xs-6 "><%= shipment.origin.name %></div>
        </div>
      </div>
      <div class="col-xs-4 hr-right text" style="height: 27mm;">
        <div class="col-xs-12 " style="height: 6mm;padding-top: 3px;">
          <div class="col-xs-3"><strong>FROM</strong></div>
          <div class="col-xs-9 "><%= shipment.origin.geocoded_address %></div>
        </div>
        <div class="col-xs-12 hr-top" style="height: 14mm;padding-top: 3px;">
          <div class="col-xs-6"><strong>PORT OF LOADING</strong></div>
          <div class="col-xs-6 "><%= shipment.destination.name %></div>
        </div>
        <div class="col-xs-12 hr-top" style="height: 6mm;padding-top: 3px;">
          <div class="col-xs-12" style="font-size: 80%;"><strong>FINAL DESTINATION (FOR TRANSSHIPMENT)</strong></div>
          <div class="col-xs-12 "><%= shipment.destination.geocoded_address %></div>
        </div>
      </div>

      <div class="col-xs-4 text" style="height: 27mm;">
        <div class="col-xs-12 " style="height: 13.5mm;padding-top: 3px;">
          <div class="col-xs-12"><strong>PLACE OF ACCEPTANCE</strong></div>
          <div class="col-xs-12" style="font-size: 70%;"><strong>(Applicable only when this document is used as a Combined Transport B/L)</strong></div>
          <div class="col-xs-12 ">N/A</div>
        </div>
        <div class="col-xs-12 hr-top" style="height: 13.5mm;padding-top: 3px;">
          <div class="col-xs-12"><strong>PLACE OF DELIVERY</strong></div>
          <div class="col-xs-12" style="font-size: 70%;"><strong>(Applicable only when this document is used as a Combined Transport B/L)</strong></div>
          <div class="col-xs-12 ">N/A</div>
        </div>      
      </div>
    </div>

    <!-- Fourth section -->
    <div class="col-xs-12 hr-top">
      <div class="col-xs-3 hr-right" style="height: 11mm;padding-top: 3px; text-align: center;">
        <strong>CONTAINER NUMBERS/MARK AND NUMBERS</strong>
      </div>
      <div class="col-xs-6 hr-right" style="height: 11mm; padding-top: 3px; text-align: center;">
        <strong>**NUMBER AND KIND OF PACKAGES, DESCRIPTION OF GOODS</strong>
      </div>
      <div class="col-xs-3" style="height: 11mm; padding-top: 3px; text-align: center;">
        <strong>MEASUREMENT (CUBIC METERS)<br> GROSS WEIGHT (KILOS)</strong>
      </div>
    </div>

    <div class="col-xs-12 hr-top">
      <div class="col-xs-3 hr-right" style="height: 105mm;padding-top: 3px; text-align: center;">
          MAEU 193 874 8
      </div>
      <div class="col-xs-6 hr-right" style="height: 105mm;padding-top: 3px;text-align: center;">
          
      </div>
      <div class="col-xs-3" style="height: 105mm;padding-top: 3px; text-align: center;">
          
      </div>
    </div>
  <!-- fifth section -->

    <div class="col-xs-12 hr-top">
      <div class="col-xs-5 hr-right" style="height: 42mm; text-align: center;">
        <div class="col-xs-12">
          <div class="col-xs-6 hr-right">
            <div class="col-xs-12"><strong>EXCESS VALUE DECLARATION</strong></div>
            <div class="col-xs-12" style="padding-top: 3px;">23.000 €</div>
          </div>
          <div class="col-xs-6">
            <div class="col-xs-12"><strong>*Total No. of Containers/Packages</strong></div>
            <div class="col-xs-12" style="padding-top: 3px;"><%= shipment.containers.count %></div>
          </div>
        </div>

        <div class="col-xs-12 hr-top" style="height: 5mm;text-align: center;">
          <div class="col-xs-8 hr-right" style="height: 5mm">
            <strong>Freight and charges</strong>
          </div>
          <div class="col-xs-2 hr-right" style="height: 5mm">
            <strong>Prepaid</strong>
          </div>
          <div class="col-xs-2 " style="height: 5mm">
            <strong>Collect</strong>
          </div>
        </div>
        <div class="col-xs-12 hr-top" style="height: 18mm;text-align: center;">
          <div class="col-xs-8" style="height: 18mm">
            <%= format_to_price(shipment.total_price, "€") %>
          </div>
          <div class="col-xs-2 text-center" style="height: 18mm">
            
          </div>
          <div class="col-xs-2 text-center" style="height: 18mm">
            X
          </div>
        </div>
      </div>
      <div class="col-xs-7" style="height: 42mm; padding-top: 3px; padding-left: 15px; padding-right: 15px; font-size: 85%; text-align: justify;">
        <strong>RECEIVED</strong> by the Carrier in apparent good order an condition (unless otherwise stated herein), the goods or the container(s) or package(s) said to contain the cargo herein mentioned, to be transported to such place as agreed, authorized or permitted herein and subject to all the terms an conditions appearing on the front an reverse of this Bill of Lading to which the Merchant agrees by accepting this Bill of Lading, any local privileges and customs notwithstanding. This particulars given below as stated by the shipper and  the weight, measure, quantity, condition, contents and value of the Goods are unknown off the Carrier. The Carrier has had no possibility to check whether these particulars are correct. One original Bill of Lading duly endorsed must be surrendered by the merchant tot he carrier in exchange for the goods or issuing a delivery order. In the witness whereof the number of original Bills of Lading stated below all of this tenor and dates has been signed, one of which being accomplished the others to stand null and void.
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------- -->

    <div class="col-xs-12 hr-top">
      <div class="col-xs-7">
        <div class="col-xs-12">
          <div class="col-xs-8 hr-right" style="height: 10mm">
            <div class="col-xs-6 hr-right" style="height: 10mm; text-align: center;">
              <div class="col-xs-12" style="text-align: center;">
                <strong>CTR STATUS MOVE TYPE</strong>
              </div>
              <div class="col-xs-12" style="padding-top: 3px;">
                Pick up
              </div>
            </div> 
            <div class="col-xs-6" style="height: 10mm; padding-left: 3px;" >
              <div class="col-xs-12" style="text-align: center;">
                <strong>FREIGHT TYPE</strong>
              </div>
              <div class="col-xs-12" style="padding: 3px 0 0 3px; text-align: center;">
                International shipping
              </div>
            </div>   
          </div>
          <div class="col-xs-4 hr-right" style="height: 10mm;text-align: center;">
            <div class="col-xs-12" style="">
              <strong>N.OF ORIGINALS B(S)/L</strong>
            </div>
            <div class="col-xs-12" style="padding-top: 3px;">
              2
            </div>    
          </div>
        </div>
        <div class="col-xs-12 hr-top">
          <div class="col-xs-6 hr-right" style="height: 20mm; padding-left: 12px;">
            <div class="col-xs-12" style="padding-top: 3px;">
              <strong>FREIGHT PAYABLE AT</strong>
            </div>
            <div class="col-xs-12" style="padding-top: 3px;">
              10/05/2017
            </div>     
          </div>
          <div class="col-xs-6 hr-right" style="height: 20mm; padding-left: 12px;">
             <div class="col-xs-12" style="padding-top: 3px;">
                <strong>PLACE OF ISSUE AND DATE OF ISSUE</strong>
            </div>
            <div class="col-xs-12" style="padding-top: 3px;">
              Hamburg, <%= formatted_date(Time.now) %>
            </div>   
          </div>
        </div>
      </div>
      <div class="col-xs-5" style="padding: 0 12px;">
        <div class="col-xs-12"> 
          <strong style="font-size: 90%;">IN WITNESS</strong> of the contract here in contained the number of originals stated opposite have been issued, one of which being accomplished the other(s) to be void.
        </div>
        <div class="col-xs-12" style="font-size: 90%; padding-top: 12px;">
          <div class="col-xs-3">  
            <strong style="font-size: 100%;padding-top: 8px;">As Carrier:</strong> 
          </div>
          <div class="col-xs-9" >  
            A.P. Møller- Maersk Line A/S
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 hr-top" style="margin-bottom: 158px"></div>




    <!-- Second Page -->
    <div class="col-xs-12">
      <div class="col-xs-12" style="color: #003d99; text-align: center;">
        <h4 style="font-size: 150%; margin-bottom: 12px"><strong>CONDITIONS</strong></h4>
      </div>
      <div class="col-xs-12" style="font-size: 70%; color: #003d99; text-align: justify;">      
        <div class="col-xs-4" style="padding-right: 4px;">
          It is mutually agreed that:<br><br>

          <strong style="font-size: 120%;">1. DEFINITIONS</strong><br>

          <strong>Carrier:</strong> MEDKON LINE MANAGEMENT MARITIME AND TRADE S.A.<br>

          <strong>Container:</strong> Includes any container, flat, open top, open sided container, transportable tank or similar article of transport used to consolidate cargo.<br>

          <strong>Combined Transport:</strong> Arises when the Place of Receipt and or the Final Destination are shown on the face hereof.<br>

          <strong>Port to Port Shipment:</strong> Arises when the Port of Loading and the Port at Discharge only are shown on the face hereof and neither the Place of Receipt, nor the Final Destination are stipulated on the face hereof.<br>

          <strong>Merchant:</strong> Shall include the Shipper, Consignee and the Holder of the Bill of Lading the Receiver and the Owner of the goods.<br>

          <strong>Goods:</strong> Shall mean the cargo described on the face of this Bill of Lading.<br>

          <strong>Interpretation:</strong> Words in the singular shall include where the context admits the plural and vice versa.<br>

          <strong style="font-size: 120%;">2. PARAMOUNT CLAUSE</strong><br>

          it is mutually agreed that this Bill of Lading shall have effect subject to the provisions of the International Convention relating to Bills of Lading dated Brussels 25th August 1924 (herein after called the Hague Rules), except where legislation giving effect to the Hague Rules as amended by the protocol signed in Brussels 23rd February 1968 (hereafter called the Hague Visby Rules) is compulsorily applicable, in which case this Bill of Lading shall have effect subject to the provision of such legislation. Neither the Hague rules nor the Hague Visby Rules shall apply where the goods carried hereunder are live animals or cargo which is stated on the face hereof as being carried on deck and is so carried.<br>

          Nothing contained in this Bill of Lading shall be deemed to be a surrender by the Carrier of any of his rights and immunities or an increase of any of his responsibilities under the said Enactments or under any other statutory protection or exemption from or limitation of liability.<br>

          All limitation of liability and other provisions herein contained shall insure not only to the benefit of the Carrier, his agents, servants, vessels, employees and other representatives but also to the benefit of any independent contractor performing services to the goods.<br>

          <strong style="font-size: 120%;">3. CARRIER'S TARIFF</strong><br>

          The terms of the Carrier's applicable Tariff are incorporated herein. Copies of the relevant provisions of the applicable Tariff are obtainable from the Carrier or his agents upon request. In the cases of inconsistency between this Bill of Lading and the applicable Tariff the Bill of Lading shall prevail.<br>

          <strong style="font-size: 120%;">4. WARRANTY</strong><br>

          The Merchant warrants that in agreeing to the terms hereof he is or has the authority of the person owning or entitled to the possession of the Goods and this Bill Of Lading.<br>

          <strong style="font-size: 120%;">5. JURISDICTION</strong><br>

          Any claim against the Carrier arising under this Bill Of Lading shall be decided according to the Turkish Law and in the Courts of Izmir, Turkey, to the exclusive jurisdiction of which the Carrier and the Merchant submit themselves.<br>
                       
          <strong style="font-size: 120%; margin: 0;">6. RESPONSIBILITY</strong><br>

          (A) PORT TO PORT SHIPMENT<br>

          (i) The Carrier's obligations in respect of the goods shall begin when the goods are accepted at the Ocean vessel's rail at the port of loading and shall continue until the goods are discharged at the Ocean vessel's rail at the port of discharge. The Carrier shall not in any circumstances whatsoever be liable to any loss damage or delay to the goods (whether or not in his actual or constructive possession) howsoever caused occurring before they are accepted at the Ocean vessel's rail at the port of loading or after they are discharged at the Ocean vessel's rail at the port of discharge.<br>

          (ii) Where incidental to the Port to Port shipment, precarriage, oncarriage, carriage inland, storage prior to loading or after discharge from the Ocean vessel, loading or unloading of goods into or from containers or, the supply of containers are required by the Merchant the Merchant hereby constitutes the Carrier as his agent with authority to enter in to any contract on his behalf and the Carrier shall be under no personal liability whatsoever or howsoever arising as carrier, bailee or otherwise in connection with the goods.<br>

          (iii) Where incidental to the Port to Port shipment, the carrier arranges for precarriage, oncarriage, carriage inland storage prior to loading or after discharge from the Ocean vessel, loading or unloading of goods into or from containers, or the supply of containers as aforesaid the Carrier shall be entitled to demand from the Merchant the full freight for the entire carriage including the charges incurred by the Carrier as agent for the Merchant. Any such charges shall be deemed freight within the definition of freight.<br>

          (iv) If notwithstanding the Port to Port shipment nature of the contract, any competent Court or Tribunal shall decide that the Carrier is liable as principal for any precarriage, oncarriage, carriage inland storage or handling of goods, the Carrier's liability, if any, shall be determined in accordance with the provisions of clause 6 (B) below (Combined Transport).<br>

          (B) COMBINED TRANSPORT <br>

          The carrier shall be responsible for loss or damage to the following extent but no further:<br>

          (i) With respect to loss/damage howsoever occurring within the period of responsibility under clause 6 (A) (i) above, liability of the Carrier shall be determined under the aforesaid clause.<br>

          (ii) With respect to loss or damage howsoever occurring outside the period of responsibility referred to under clause 6 (A) (i) above the liability of the Carrier shall be limited to the actual amount recovered by the Carrier in respect of such loss or damage from the party to whom the Carrier has sub-contracted the handling, storage, precarriage or oncarriage of the goods.<br>

          (iii) The Carrier, without limiting sub-clause (ii) above, shall be relieved of liability for loss or damage where such loss or damage can be reasonably attributed either in part or in whole to:<br>

          (a) A wrongful act or omission of the Merchant.<br>

          (b) Insufficiency or defective condition of the packing in the case of goods which by their nature are liable to loss or wastage or to be damaged when not packed or when not properly packed.<br>

          (c) Compliance with the instruction of the Merchant or his agent.<br>

          (d) Handling, stowage, loading, or unloading of the goods by or on behalf of the Merchant.<br>

          (e) Inherent vice of the goods.<br>

          (f) Insufficiency or inadequacy of marks or numbers on the goods, coverings or containers.<br>

          (g) Strike, lockout, stoppage or restraint of labor, from whatever caused and whether partial or general.<br>

          (h) Theft and/or attempt thereat and/or loss or damage to the goods caused by any third party.<br>

          (i) Any other cause or event whatsoever or howsoever arising unless it is proven that the loss or damage resulted from an act or omission of the Carrier done with intent to cause loss or damage or recklessly with the knowledge that loss or damage would probably result.<br>

          (iv) If it cannot proven when the loss or damage occurred the loss or damage shall be deemed to have occurred outside the Carrier's period of responsibility within the meaning of clause 6 (A) (i) above.<br>

          (C) GENERAL (applicable to both Port to Port shipments and Combined Transport)<br>

          (i) The Carrier shall in no circumstances whatsoever be responsible for any direct or indirect loss or damage sustained by the Merchant occasioned through delay whether by reason of representation or otherwise by the Carrier, his servants or agents.<br>

          (ii) The Carrier shall in no circumstances whatsoever be liable for indirect, or consequential loss howsoever or wheresoever arising.<br>

          (iii) All goods tendered by the Merchant to the Carrier for carriage shall be carried in a container (with or without goods belonging to third parties, in the case of the container supplied by the Carrier).<br>

          <strong style="font-size: 120%;">7. CONTAINERS</strong><br>

          (i) Unless the Merchant and the Carrier or his agent agreed in writing under the deck shipment (before or at the time of booking the carriage of the goods) the Carrier shall have the option to Load containers on deck without notice to the Shipper, and if they are so carried the Hague Visby Rules shall apply and the goods shall contribute in General Average.<br>

          (ii) In the case of live animals and cargo requested by the Merchant to be carried on deck and which in this Bill Of Lading are stated to be carried on deck and are so carried the Hague Visby Rules shall apply and the goods shall contribute in General Average.<br>

          (iii) In the case of containers supplied by the Merchant or by the Carrier to the Merchant for the Merchant's use the following conditions shall apply.<br>

          (a) The Shipper, before using a container shall inspect it to make certain that it is clean sound and suitable for the type of cargo he is shipping and the Shipper shall have the right to reject any unsatisfactory container before use.<br>

          (b) The Carrier shall be under no liability whatsoever in the event of loss or damage to any of the goods directly or indirectly caused by the manner in which the goods have been packed or stowed in the containers or by the unsuitability of the goods for container carriage.<br>

          (c) The Merchant hereby agrees to indemnify the Carrier against all and any loss/damage which the carrier may sustain or against liability to any person which the Carrier may incur on account of personal injury or loss or damage to property due to the manner in which the goods have been packed and/or stowed inside the container or due to the unsuitability of the container.<br>

          (d) The Merchant further agrees to indemnify the Carrier against any additional expenses, fines, duties and taxes which the Carrier may incur by reason of error or omission in the mark, numbers or description of the container or its contents.<br>

          (iv) In the case of the supply of a container to an agent appointed by the Carrier on the Merchants behalf, the Carrier shall be under no responsibility or liability for loss or damage to the goods caused by the unsuitability or defective condition of the container unless such unsuitability or condition be attributable to lack of due diligence on the part of the Carrier.<br>

          (v) The Carrier shall be entitled but under no obligation to open any container at any time and to inspect the contents. If it thereupon appears that the contents or any part thereof cannot safely or properly be carried further either at all or without incurring any additional expenses or taking any measure in relation to the container or its contents or any part thereof, the Carrier may abandon the transportation thereof and or take any measures and/or incur any reasonable additional expense to carry or to continue the carriage or to store the same ashore or float under cover or in open at any place which storage shall be deemed to constitute the delivery under this Bill Of Lading. The Merchant shall indemnify the Carrier against any reasonable additional expenses so incurred.<br>

          (vi) Where containers are supplied pursuant to Clause 7 (iii) above are unpacked at the Consignee's or receivers premises the Consignee's or Receiver's are responsible for returning the empty containers clean and in a useable condition in all respect and suitable for the carriage of cargo of any description the port or place of discharge or other place nominated by the Carrier within the time prescribed to them. Should a Container not be return within the prescribed time the Merchant shall be liable for any demurrage loss or expenses which may arise from such nonreturn.<br>

          (vii) The Merchant agrees to indemnify the Carrier for any loss or damage to the containers or for any liability arising from any act or omission by the Merchant, his servants or Agents arising directly or indirectly from but not limited to the packing or stowage of cargo in the container or the use thereof.<br>

          (viii) In the event that the Carrier agrees to transport any empty container not loaded with goods for a Merchant or any other party, such transportation shall be undertaken only in accordance with terms of this Bill Of Lading notwithstanding that no formal Bill Of Lading be issued for such return transportation.<br>

          (ix) The Carrier has no responsibility whatsoever for the functioning of reefer containers or trailers neither owned nor leased by the Carrier.<br>

          <strong style="font-size: 120%;">8. LIEN</strong><br>

          (i) The Carrier his servants or Agents shall have a lien on the goods and the right to sell the goods whether privately or by public auction for all freight (including additional freight payable under Clause 12) primage, dead freight, demurrage container demurrage and storage charges detention charges salvage General Average contributions and all other charges and expenses whatsoever including (not limited to) matter 

        </div>

        <div class="col-xs-4" style="padding-left: 3px; padding-right: 3px;">
          under Clause 12 (iii) and 13 (e) herein which are for the account of the goods or of the Merchant and
          for the costs and expenses of exercising such lien and such sale including legal fees and also for all previously unsatisfied debts whatsoever due to him by the Merchant. Without prejudice to the foregoing the Carrier shall be entitled to lien the Merchant's cargo or any and all of the above even thought concerned with on carriage, pre-carriage and/or inland carriage whatsoever and/or storage and despite the Merchant constituting the Carrier as his Agent for the purposes of arranging such carriage and any storage. Nothing in this Clause shall prevent the Carrier from recovering from the Merchant the difference between the amount due from him to the Carrier and the amount realized by the exercise of the rights given to the Carrier under this clause.<br>

          (ii) Without prejudice to the generality of the foregoing notwithstanding that the property in the goods shall have passed to an Endorsee of the Bill of Lading or Consignee named herein and irrespective of whether or not the Carrier shall have exercised his lien the Carrier shall be entitled:<br>

          (a) To recover from the shipper or the party on whose behalf the instruction to ship the goods was made (hereinafter referred to as the "Principal") freight, dead freight, charges (whether relating to storage landing or detention) expenses, primage, general average contribution or demurrage due under this Bill of Lading which in fact remains unpaid (whether or not in the case of freight /charges there is any stipulation on the face of the Bill of Lading to the effect freight/charges have been paid or are payable at destination).<br>

          (b) To recover from the Shipper of the goods or the principal the replacement value of any container consigned to the Consignee/Receivers premises and not returned by any reason of being lost/destroyed within the time prescribed under Clause 7 (v) hereof to the port or place of discharge and/or any loss/expenses that may directly arise from such non-return and/or the cost of repairing the said container where the same has become damaged (whether or not by the fault or negligence of the Receiver/Consignee, their servants or Agents after the Carrier has consigned the same to the Receiver/Consignee. In the case of a leased container the replacement value shall be deemed to be the value of the container in the lease agreement.<br>

          (c) To recover from the Shipper (or the Principal) of the goods all, duties, taxes, fines, imposts, expenses, loss or damage referred to in Clause 12 (iii) above.<br>

          <strong style="font-size: 120%;">9. BOTH TO BLAME COLLISION CLAUSE</strong><br>

          If the ship comes in to collision with another ship as result of the negligence of the other ship and any act, neglect or default of the Masters, Mariners, pilots or the servant of the Carrier in the navigation or in the management of the ship, the Owners of the goods carried hereunder will indemnify the Carrier against all loss or liability to the other non-carrying ship or her Owners in so far as such loss or liability represent loss of or damage to or any claim whatsoever of the Owners of the said goods paid or payable by the other or non carrying ship or her Owners to the Owners of the said goods and set off, recouped or recovered by the other or non carrying ship or her Owners as part of them claim against the carrying ship or Carrier. The foregoing provisions shall also apply where the Owners Operators or those in charge of any ship or ships or objects other than or in addition to the colliding ships or objects are at fault in respect to a collision or contact.<br>

          NEW JASON CLAUSE WAR RISKS CLAUSES 1 AND 2 are deemed to be incorporated in this Bill of Lading.<br>

          <strong style="font-size: 120%;">10. GENERAL AVERAGE AND SALVAGE</strong><br>

          (a) General average shall be payable according to York-Antwerp Rules 1974 and shall be adjusted at any port or place selected by the carrier.<br>

          (b) In the event of accident , danger, damage or disaster before or after the commencement of the voyage, resulting from any cause whatsoever whether due to negligence or not for which or for the consequence of which the carrier is not responsible by statute contract or otherwise the goods and/or the Merchant shall contribute with the Carrier in General Average to the payment of any sacrifices, losses or expenses of a General Average nature that may be made or incurred and shall pay salvage and special charges incurred in respect of the goods.<br>

          (c) If a salving vessel is owned or operated by the Carrier, salvage shall be paid for as fully as if the said salving vessel or vessels belonged to strangers. Such deposit as the Carrier or his agents may deem sufficient to cover the estimated contribution of the goods and any salvage and special charges thereon shall if required be made by the goods, Shippers Consignees and/or Owners of the Goods to the Carrier before delivery.<br>

          <strong style="font-size: 120%;">11. NOTIFICATION AND DELIVERY</strong><br>

          (1) Any mention herein of parties to be notified of the arrival of the Goods is solely for information of the Carrier and failure to give such notification shall not involve the Carrier in any liability, nor relieve the Merchant of any obligation hereunder.<br>

          (2) Where the Carriage called for by this Bill of Lading is a Port to Port Shipment the carrier shall be at liberty to discharge the Goods or any part thereof without notice directly they come to hand at or on to any wharf craft or place on any day and at any time whereupon the liability of the Carrier (if any) in respect of the Goods or that part thereof discharged as aforesaid shall wholly cease notwithstanding any custom of the port to the contrary and notwithstanding that any charges dues or other expenses may be or become payable.<br>

          The Merchant shall take delivery of the Goods upon discharge. All expenses incurred by reason of the Merchants failure to take delivery of the Goods as aforesaid shall be for the Merchant's account.<br>

          (3) Where the Carriage called for by this Bill of Lading is Combined Transport the Merchant shall take delivery of the Goods within the time provided for in the Carrier's applicable Tariff (see clause 3)<br>

          (4) If delivery of the goods or any part thereof is not taken by the Merchant at the time and place when and where the Carrier is entitled to call upon the merchant to take delivery thereof whether the carriage called for by this Bill of Lading is a Port to Port Shipment or Combined Transport the Carrier shall be entitled without notice to unstow the Goods or that part thereof if stowed in Containers and/or to store the Goods of that part thereof ashore, afloat, in the open or under cover at the sole risk of the Merchant. Such storage shall constitute due delivery hereunder and thereupon the liability of the Carrier in respect of the Goods or that part thereof stored as aforesaid (as the case may be) shall wholly cease and the cost of such storage (if paid or payable by the carrier or any agent or Sub-contractor of the Carrier) shall forthwith upon demand be paid by the Merchant to the Carrier.<br>

          (5) If the Merchant fails to take delivery of the Goods within thirty days of delivery becoming due under sub-clause (2) or (3) above or if in the option of the Carrier they are likely to deteriorate, decay, become worthless or incur charges whether for storage or otherwise in excess of their value and whether the carriage is a Port to Port Shipment or Combined Transport the Carrier may without prejudice to any other rights which he may have against the Merchant without notice and without any responsibility whatsoever attaching to him, sell or dispose of the Goods and apply the proceeds of sale in reduction of the sums due to the carrier from the Merchant in respect of this Bill of Lading.

          <strong style="font-size: 120%;">12. FREIGHT AND CHARGES</strong><br>

          (i) Freight on the goods shall be deemed earned when the goods are received for shipment, and shall be paid vessel and/or goods lost or not lost. The freight together with charges shall be due and paid to the Carrier at the port of shipment (unless otherwise agreed) at the time of the vessel sailing in the required freely transferable currency calculated at the means of the closing rates of exchange in Turkey at the time of the vessel sailing.<br>

          (ii) Interest shall be paid on any freight primage and changes remaining unpaid after due date of payment. The freight payable hereunder has been calculated and based upon the particulars of the goods furnished by the Shipper to the Carrier. The Carrier shall be entitled at any time to open and to re-weight or re-measure or re-value any goods and if the weight or measurement or value as furnished by the Shipper is found to be incorrect, freight shall be paid by the Merchant on the excess weight or measurements or value so ascertained together with the expenses incident to re-weighing or re-measuring or re-valuing which expenses shall be considered as freight. The Merchant shall, if required by the Carrier so to do furnish forthwith on demand to the Merchant the invoice or a true copy thereof relating to the goods.<br>

          (iii) The Merchant shall comply with the regulations and requirements of Port, Customs and other Authorities and shall be liable for all duties, taxes, fines, imposts, expenses, loss or damage of whatsoever nature imposed on the goods or the Carrier/Vessel in connection therewith. In the event of goods not complying with the port customs or other regulations at the port of discharge or any of the aforesaid matters, arising and entry being refused by the Port, Customs or other appropriate Authorities, Carrier shall be at liberty to bring back or re-ship such goods to the port of shipments at the sole risk and expense of the Merchant. The Carrier shall be entitled to recover the costs by reason of the compliance with these regulations or requirements whether caused by negligence or not.<br>

          (iv) The Merchant shall further be liable to pay on demand day by day all storage charges and/or demurrage charges in regard to containers (as defined herein) in accordance with the tariff which may be obtained from the Carrier.<br>

          <strong style="font-size: 120%;">13. CARRIER'S LIABILITIES IN THE EVENT OF BLOCKADE, DELAY, ETC.</strong><br>

          In case of war, hostilities, strike, port congestion, lock-outs, stoppages, civil commotions, quarantine, ice storm on any other cause whatsoever beyond the Carrier's control (whether any of the foregoing are actual or threatened and whether or not existing or anticipated at the commencement of the voyage) which matters or any of them in the judgment of the Master or Carrier (either of whose decision shall be absolute and binding on all parties) may result in damage to, or loss of the vessel, or give rise to risk of capture, seizure or detention of vessel or cargo, are likely to prejudice the interest of the vessel including her future engagements and/or her cargo whether by delay or otherwise howsoever or make it unsafe or imprudent for any reason to proceed on or continue the voyage or her carriage by land or enter or discharge at the port of or place of discharge or transshipment or give rise to any delay or difficulty in reaching discharge or leaving the port or place of discharge or transshipment or the place of delivery the Carrier shall have the following liberties any warranty or rule of Law notwithstanding.<br>

          (a) To proceed to such convenient port, as the Carrier shall in his absolute discretion select and discharge the goods.<br>

          (b) To carry the goods back to the country of shipment and discharge them there.<br>

          (c) To retain the goods on board the ship and/or return them to the original port of discharge in the same or substituted ship and there discharge the goods at the sole risk and expertise of the Shipper/Consignee and/or Owner of the goods.<br>

          (d) To abandon the carriage of the goods by land at such convenient place as the carrier shall in his absolute discretion select, and discharge the goods from the container.<br>

          When the goods have been abandoned or discharged from the Ship or container as herein provided they shall thereafter be at the sole risk and expense of the Merchant and such discharge shall constitute a full performance of all the carrier's obligations hereunder. The Carrier, Master or Agents giving immediate notice of such discharge to the Merchant of the goods so far as he is known.<br>

          (e) Full freight and charges shall be deemed to be earned hereunder and the Carrier shall be entitled to payment for all extra expenses incurred in the performance of the foregoing liberties for which (together with freight and charges) he shall have a lien on the goods. The Carrier shall in addition to be entitled in any of the aforesaid circumstances to levy on the goods additional charges representing the interest cost to the Carrier (including but no limited to additional insurance and bunker costs)<br>

          <strong style="font-size: 120%;">14. CERTAIN RIGHTS AND IMMUNITIES FOR THE CARRIER AND OTHER PERSONS</strong><br>

          (1) The Carrier shall be entitled to sub-contract on any terms the whole or any part of the Carriage<br>

          (2) The Merchant undertakes that no claim or allegation shall be made against any person or vessel whatsoever, other than the Carrier, including but not limited to the Carrier's servants or agents, any independent contractor and his servants or agents, and all others by whom the whole or any part of Carriage whether directly or indirectly, is procured, performed or undertaken, which imposes or attempts to impose upon any such person or vessel any liability whatsoever in connection with the Goods or the carriage; and if any claim or allegation should nevertheless be made to defend, indemnify and hold harmless the Carrier against all consequences thereof. Without prejudice to the foregoing every such person or vessel shall have the benefit of all provisions herein benefiting the Carrier as if such provisions 

        </div>

        <div class="col-xs-4" style="padding-left: 4px;">
          were expressly for his benefit and in the entering into his contract the Carrier to the extent of these 
          provisions, does so not only on his own behalf but also as agent or trustee for such persons and vessels and such persons and vessels shall to this extent be or be deemed to be parties to this contract.<br>

          (3) The Merchant shall defend, indemnify and holds harmless the carrier against any claim or liability (and any expense arising there from) arising from the Carriage of the Goods insofar as such claim or liability exceeds the Carrier's liability under this Bill of Lading.<br>

          (4) The defenses and limits of liability provided for in this Bill of Lading shall apply in any action against the Carrier whether the action be found in contract or in Tort.<br>

          <strong style="font-size: 120%;">15. DANGEROUS GOODS</strong><br>

          Goods of a dangerous or hazardous nature and for radioactive material must not be tendered for shipment unless a written certificate of declaration has been previously given to the carriers, sub-carriers, master or agent of the vessel stating.<br>

          (a) That the goods and if applicable, the container, flat trailer etc. are adequately packed.<br>

          (b) The correct technical name and class of goods.<br>
          A special stowage order giving consent to shipment must also be obtained from the Carrier. The Merchant will be liable for all damage loss and expense whatsoever if the foregoing provisions are not complied with.<br>

          <strong style="font-size: 120%;">16. THE SCOPE OF THE VOYAGE</strong><br>

          The scope of the voyage herein contracted for shall include usual of customary or advertised port of call whether named in this contract or not, also ports in or out of the advertised, geographical, usual or ordinary route or order, even though in proceeding thereto the vessel may sail beyond the port of discharge; or in a direction contrary thereto, or return to the original port or depart from the direct or customary route, and includes all canals, straits and other waters. The vessel may call at any port for the purposes of the current voyage or of a prior or subsequent voyage. The vessel may omit calling at any port or ports whether scheduled or not and may call at the same port more than once; may for matters occurring before loading the goods known or unknown at the time of such loading and matters occurring after such loading either with or without the goods or passengers on board and before or after proceeding towards the port of discharge adjust compasses, dry lock, go on ways or to repair yards, shift berths, undergo, degassing, wiping or similar measures, make trial trips or test, take fuel or stores, embark or disembark passengers crew, workman or the other persons, remain in port, sail with or without pilots, tow and be towed, and save or attempt to save life or property, anything done or not done in compliance with the above shall be deemed to be done or not done in fulfillment of the contractual voyage. The Carrier shall not be responsible for any loss sustained by the Merchant through delay of arrival of the goods.<br>

          <strong style="font-size: 120%;">17.MATTERS AFFECTING PERFORMANCE</strong><br>

          (1) If at any time the carriage is or is likely to be affected by any hindrance, risk, delay, difficult or disadvantage of any kind (including the condition of the Goods), when so ever and howsoever arising (whether or not the Carriage has commenced) the Carrier may:<br>

          (a) Without notice to the Merchant abandon the Carriage of the Goods and where reasonably possible place the Goods or any part of them at the Merchant's disposal at any place which the Carrier may deem safe and convenient, whereupon the responsibility of the Carrier in respect of such Goods shall cease.<br>

          (b) Without prejudice to the Carrier's right subsequently to abandon the Carriage under (a) above, continue the Carriage. In any event the Carrier shall be entitled to full Charges on Goods received for Carriage and the Merchant shall pay any additional cost resulting from the above-mentioned circumstances.<br>

          (2) The liability of the Carrier in respect of the Goods shall cease on the delivery or other disposition of the Goods in accordance with the orders or recommendations given by any government or authority or any person acting or purporting to act as or on behalf of such government authority.<br>

          <strong style="font-size: 120%;">18. SUBSTITUTION OF VESSEL, TRANSSHIPMENT, FORWARDING</strong><br>

          Whenever the Carrier or the Master may deem it advisable, or, in any case, where the goods are consigned to a point where the vessel does no expect to discharge, The Carrier or Master may without notice, transship the whole or any part of the goods at the original port of shipment, or any, other place or places even though outside the scope of the voyage or the route to or beyond the port of discharge or the destination of the goods, and forward the goods, to the port of destination by any vessel, vessels or other means of transportation by water or by land or by air or by any such means, whether operated by the Carrier or by others and whether departing or arriving or scheduled to depart or arrive before or after the vessel expected to be used for the transportation of the goods. This Carrier in making arrangements for any transshipping or forwarding vessel or means of transportation shall be considered solely as the forwarding agent of the Merchant and without any responsibility, whatsoever. The carriage by any transshipping or forwarding carrier and all transshipment or forwarding shall be subject to all the terms whatsoever in the regular form of Bill of Lading, freight note, contract or other shipping documents used at the time by such Carrier, whether issued for the goods or not, and even though such terms may be less favorable to the Merchant than the terms of this Bill of Lading. Pending or during transshipment the goods may be stored ashore or afloat at their expense and this Carrier or his Agent shall not be liable for loss or damage to the goods after discharge from his vessel, howsoever such loss or damage arises, including damages and losses due to detention or delay, even if the goods are in the custody of the Carrier or his Agent or put into hulk or craft belonging to the Carrier or his Agent. The Carrier may delay forwarding awaiting a vessel or conveyance in his own service or with which he has established connections. The responsibility of this Carrier shall be limited to the part of the transport performed by him on vessels owned by him and no claim be acknowledged by the Carrier for damage or loss arising during any part of the transport even though the freight for the whole transport has been collected by him.<br>

          <strong style="font-size: 120%;">19. OPTION</strong><br>

          The port of discharge for optional goods must be declared to vessel's Agents at the first of the optional port named in the option not later than 48 hours before the vessel's arrival there, or failing such declaration the Carrier may elect to discharge at the first or any optional port and contract of carriage shall then be considered fulfilled. Any option must be for the total quantity of goods under this Bill of Lading.<br>

          <strong style="font-size: 120%;">20. CARRIER'S RIGHT OF DISPOSAL</strong><br>

          Without prejudice to Clause 8 above. If the goods are not taken by the Merchant within 21 days of discharge (or in the case of perishable goods within 2 days), the carrier shall be at liberty and without notice to the Merchant of the goods to abandon them to the appropriate authority or sell the goods as salvage for the account of whom it may concern where the Carrier at this sole discretion reasonably believes that the value that would be obtained in the sale or auction of the goods (less commission) would be less than the outstanding (and in the case of perishable goods anticipated) storage and similar charges.<br>

          <strong style="font-size: 120%;">21. DESCRIPTION OF GOODS</strong><br>

          No representation is made by the Carrier as to the weight, contents, measure, quantity, quality, description, condition, marks, numbers or value of Goods and the Carrier shall be under no responsibility whatsoever in respect of such description or particulars.<br>

          <strong style="font-size: 120%;">22. TEMPERATURE CONTROLLED CARGO</strong><br>

          (1) The Merchant undertakes not to tender for transportation any Goods which require temperature control without previously giving written notice (and filling in the box on the front of this Cargo Receipt If this Cargo receipt has been prepared by the Merchant or a person acting on his behalf) of their nature and particular temperature range to be maintained and in the case of a temperature controlled Container stuffed by or on behalf of the Merchant further undertakes that the Container has been properly precooled, that the Goods have been properly stuffed in the Container and that its thermostatic controls have been properly set by the Merchant before receipt of the Goods by the Carrier. If the above requirements are not complied with the Carrier shall not be liable for any loss of or damage to the Goods caused by such non-compliance.<br>

          (2) The Carrier undertakes to provide ship's electric current to keep the refrigeration systems of the containers plugged whilst on board and control and set the thermostatic controls on the particular temperature range as described by the Merchant on the front of this Bill of Lading.<br>

          (3) The Carrier shall not be liable for any loss of or damage to the goods arising from defects, derangements breakdown, stoppage of the temperature controlling machinery, plant, insulation or any apparatus of the container provided that the Carrier shall before or at the beginning of the Carriage exercise due diligence to maintain the refrigerated container in an efficient state, provided that the requirements as stated in (2) are complied with.<br>

          (4) The Carrier shall in no way be obliged to carry out any repair work to maintain the efficient state of the refrigerated containers.<br>

          <strong style="font-size: 120%;">23. LIMITATION</strong><br>

          The monetary liability of the Carrier shall not exceed the applicable limits of liability under The Hague/Hague Visby Rules (whichever shall be applicable). The applicable unit for the purposes of package limitation shall be the number of containers referred to on the face of the Bill of Lading.<br>

          <strong style="font-size: 120%;">24. VARIATION OF THE CONTRACT</strong><br>

          No servants or agent of the Carrier shall have the power to waive or vary any of the terms hereof unless such waiver or variation is in writing and is specially authorized or ratified in writing by the Carrier.<br>

          <strong style="font-size: 120%;">25. LANDING CHARGES</strong><br>

          The Goods shall in all cases be landed by the vessel and not by the Merchant. All the landing charges and all expenses arising after discharge of the cargo including discharge on to quay, surtax d'entrepot, stevedoring handling, overtime, tally, quay dues, wharfage dues, storage etc shall be payable by the Merchants against delivery, Lighterage and expenses of weighing, measuring, valuing and counting cargo if any, at port of discharge, to be paid by the Merchant of the goods, any custom or alleged custom of the port to the contrary notwithstanding.<br>

          <strong style="font-size: 120%;">26. LIABILITY OF SERVANTS AND SUB-CONTRACTORS</strong><br>

          It is hereby expressly agreed that no servants or agent or the Carrier, including any independent subcontractors employed by the Carrier in any circumstances whatsoever be under any liability whatsoever to the Merchant for any loss or damage or delay of whatsoever kind arising or resulting directly or indirectly from any act neglect or default on his part while acting in course of, or in connection with his employment and without, prejudice to the generality of the foregoing provisions in this clause every exception, limitation, condition and liberty herein contained and every right exception from liability, defense and immunity of whatsoever nature applicable to the Carrier or to which the carrier is entitled hereunder shall also be available and shall extend to protect every such servant or agent of the Carrier (including any stevedore, terminal operator or any other independent contractor) acting as the aforesaid and for the purpose of the foregoing provisions of this clause the carrier is or shall be deemed to be acting as agent or trustee on behalf of and for the benefit of all persons who are or might be his servant or agents (including all independent contractors as aforesaid) and all such persons shall to this extent be or be deemed to be party to this Bill of Lading.<br>

          <strong style="font-size: 120%;">27. SHIPPER'S / MERCHANT'S RESPONSIBILITY</strong><br>

          (1) The Shipper warrants to the Carrier that the particular relating to the Goods as set out overleaf has been checked by the Shipper on receipt of this Bill of Lading and that such particular and any other particulars furnished by or on behalf of the Shipper are correct.<br>

          (2) The Shipper shall indemnify the Carrier against al loss damage fines and expenses arising or resulting from inaccuracies in or inadequacy of such particulars or from any other cause in connection with the Goods for which the Carrier is not responsible.<br>

          (3) The Merchant shall comply with all regulations or requirements of customs port or any other authorities and shall bear and pay all duties taxes, fines, imposts, expenses or charges or losses incurred or suffered by reason thereof or by reason of any illegal incorrect or insufficient marking, numbering or addressing of goods and indemnify the Carrier in respect thereof.<br>

          (4) Where containers owned or leased by the Carrier are unpacked by the Merchant he is responsible for returning the empty Containers with interiors brushed and clean and with all its accessories, if any to the port or place of discharge or to the port or place designated by the Carrier, his servants or agents within the time prescribed to them. Should a Container not be returned within the prescribed time, the Merchant shall be liable for any demurrage, loss or expense which may arise from such non-return.
        </div>
      </div>
    </div>
  </div>
</div>