<style media="screen" type="text/css">
  .headline {
    width: 100%;
    text-align: right;
    margin: -15mm 0 0 0;
  }
  .headline>h5 {
    margin-top: 2mm;
    margin-bottom: 0;
  }
  .center {
    width: 100%;
    text-align: center;
  }
  .no-padding {
    padding: 0;
  }
  .wrap-overflow {
    word-wrap: break-word;
  }
  #end-parties {
    margin-top: 5mm;
  }
  #start-end {
    border: 2px solid;
    border-radius: 3px;
    margin: 0;
  }
  .spacer-top {
    margin-top: 5mm;
  }
  .spacer-bottom {
    margin-bottom: 5mm;
  }
  hr {
    border-color: #222;
    margin: 2.5mm 0 2.5mm 0;
  }
</style>

<div class="headline">
  <h4>Incoming Job</h4>
  <h5>IMC ref.: <%= shipment.imc_reference %></h5>
  <h5>Incoterms: CFR</h5>
</div>
<div class="container-fluid no-padding" id="end-parties">
  <div class="row" id="start-end">
    <!-- <div class="col-xs-12">
      <div class="wrap-overflow center spacer-bottom">
        <strong>Estimated Closing Date:</strong> ???
      </div>
    </div> -->
    <div class="col-xs-12">
      <div class="wrap-overflow center spacer-bottom">
        <strong>Latest Arrival Date:</strong> <%= formatted_datetime(shipment.planned_arrival_date) %>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="wrap-overflow">
        <strong>Start Port CFS:</strong> <%= shipment.start_port_address.geocoded_address %><br>
      </div>
    </div>
    <div class="col-xs-2 no-padding">
      <div class="center wrap-overflow">
        <strong>&rArr;</strong>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="wrap-overflow">
        <strong>End Port CFS:</strong> <%= line_wrap(shipment.end_port_address.city_country) %><br>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="wrap-overflow center spacer-top">
        <strong>Estimated Transit Time:</strong> <%= shipment.ocean_transit_time %> days<br>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-6">
      <div class="wrap-overflow">
        <u><strong>Consignor:</strong></u><br>
        <%= line_wrap(shipment.user.full_name) %><br>
        <strong>Address:</strong> <%= line_wrap(shipment.shipper_legal_address.full_address) %><br>
        <strong>Phone:</strong> <%= line_wrap(shipment.user.phone) %><br>
        <strong>Email:</strong> <%= line_wrap(shipment.user.email) %><br>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="wrap-overflow">
        <u><strong>Consignee:</strong></u><br>
        <%= line_wrap(shipment.receiver.full_name) %><br>
        <strong>Address:</strong> <%= line_wrap(shipment.receiver.full_address) %><br>
        <strong>Phone:</strong> <%= line_wrap(shipment.receiver.phone) %><br>
        <strong>Email:</strong> <%= line_wrap(shipment.receiver.email) %><br>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-6">
      <div class="wrap-overflow">
        <u><strong>Trucking:</strong></u><br>
        <strong>Route: </strong><%= shipment.pickup_address.geocoded_address %> (Pickup Location) &nbsp;&nbsp;<strong>&rarr;</strong>&nbsp;&nbsp; <%= line_wrap(shipment.start_port_address.geocoded_address) %> (Start Port CFS)<br>
        <strong>Pickup Date: </strong><%= formatted_datetime(shipment.planned_pickup_date) %><br>
        <strong>Trucking Distance:</strong> <%= shipment.trucking_distance_in_km %> km<br>
        <strong>Trucking Transit Time:</strong> <%= GoogleDirections.formatted_driving_time(shipment.trucking_transit_time) %><br>
        <strong>Company:</strong> <%= line_wrap(shipment.trucker.company_name) %><br>
        <strong>Phone:</strong> <%= line_wrap(shipment.trucker.phone) %><br>
        <strong>Email:</strong> <%= line_wrap(shipment.trucker.email) %><br>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="wrap-overflow">
        <u><strong>Sea Ocean:</strong></u><br>
        <strong>Route: </strong><%= line_wrap(shipment.start_port_address.geocoded_address) %> (Start Port CFS) &nbsp;&nbsp;<strong>&rarr;</strong>&nbsp;&nbsp; <%= line_wrap(shipment.end_port_address.geocoded_address) %> (End Port CFS)<br>
        <strong>Company:</strong> <%= line_wrap(shipment.consolidator.company_name) %><br>
        <strong>Phone:</strong> <%= line_wrap(shipment.consolidator.phone) %><br>
        <strong>Email:</strong> <%= line_wrap(shipment.consolidator.email) %><br>
        <strong>Ocean Transit Time:</strong> <%= shipment.ocean_transit_time %> days<br>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <u><strong>Cargo Description:</strong></u><br>
      <strong>Number of units:</strong> <%= line_wrap("#{shipment.unit_number}") %><br>
      <strong>Type of goods:</strong> <%= line_wrap(shipment.cargo_description.goods_type) %><br>
      <strong>Weight per Unit:</strong> <%= line_wrap("#{shipment.cargo_description.weight}") %> tons<br>
      <strong>Dimensions per Unit:</strong> <%= line_wrap("X: #{shipment.cargo_description.dimension_x} cm | Y: #{shipment.cargo_description.dimension_y} cm | Z: #{shipment.cargo_description.dimension_z} cm") %> || Volume (p/u): <%= shipment.cargo_description.volume / 1000000 %> m&sup3;<br>
      <strong>Packaging:</strong> <%= line_wrap(shipment.cargo_description.packaging) %><br>
      <strong>Goods are stackable:</strong> <%= line_wrap(shipment.cargo_description.stackable ? "Yes" : "No") %><br>
      <strong>Goods are on Euro/EPAL-pallets:</strong> <%= line_wrap(shipment.cargo_description.europallet ? "Yes" : "No") %><br>
      <% unless shipment.cargo_description.notes.empty? %>
      <strong>Extra Notes:</strong> <%= line_wrap(shipment.cargo_description.notes) %><br>
      <% end %>
      <strong>Estimated value:</strong> <%= line_wrap(format_to_price(shipment.estimated_value, "USD")) %><br>
    </div>  
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <div class="wrap-overflow">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Description (Your Service Charges)</th>
              <th>Unit Price</th>
              <th>Units</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Price per ton / m&sup3;</td>
              <td><%= format_to_price(shipment.ocean_pricing.price_per_ton_or_m3, shipment.ocean_pricing.currency) %></td>
              <td><%= shipment.ocean_pricing.determine_measure(shipment.cargo_description.weight, shipment.cargo_description.volume) %> &times; <%= shipment.unit_number %></td>
              <td><%= format_to_price(shipment.ocean_pricing.price_per_ton_or_m3 * shipment.ocean_pricing.determine_measure(shipment.cargo_description.weight, shipment.cargo_description.volume) * shipment.unit_number, shipment.ocean_pricing.currency) %></td>
            </tr>            
            <tr>
              <td>Wharfage fees per ton</td>
              <td><%= format_to_price(shipment.ocean_pricing.price_wharfage_per_ton, shipment.ocean_pricing.currency) %></td>
              <% if shipment.cargo_description.weight >= 1 %>
                <td><%= shipment.cargo_description.weight %> &times; <%= shipment.unit_number %></td>
                <td><%= format_to_price(shipment.ocean_pricing.price_wharfage_per_ton * shipment.cargo_description.weight * shipment.unit_number, shipment.ocean_pricing.currency) %></td>
              <% else %>
                <td>1</td>
                <td><%= format_to_price(shipment.ocean_pricing.price_wharfage_per_ton * 1, shipment.ocean_pricing.currency) %></td>
              <% end %>   
            </tr>
            <tr>
              <td>ISPS, ATC, ZAPP charges</td>
              <td><%= format_to_price(shipment.ocean_pricing.price_isps, shipment.ocean_pricing.currency) %>, <%= format_to_price(shipment.ocean_pricing.price_atc, shipment.ocean_pricing.currency) %>, <%= format_to_price(shipment.ocean_pricing.price_zapp, shipment.ocean_pricing.currency) %></td>
              <td>1</td>
              <td><%= format_to_price(shipment.ocean_pricing.price_isps + shipment.ocean_pricing.price_atc + shipment.ocean_pricing.price_zapp, shipment.ocean_pricing.currency) %></td>
            </tr>
            <tr>
              <td>Bill of Lading</td>
              <td><%= format_to_price(shipment.ocean_pricing.price_bl, shipment.ocean_pricing.currency) %></td>
              <td>1</td>
              <td><%= format_to_price(shipment.ocean_pricing.price_bl * 1, shipment.ocean_pricing.currency) %></td>
            </tr>
            <tr class="active">
              <td><strong>Total</strong></td>
              <td></td>
              <td></td>
              <td><strong><%= format_to_price(shipment.ocean_price, shipment.ocean_pricing.currency) %></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>