<style media="screen" type="text/css">
  .headline {
    width: 100%;
    text-align: right;
    margin: -15mm 0 0 0;
  }
  .headline>h5 {
    margin-top: 2mm;
    margin-bottom: 0;
  }
  .center {
    width: 100%;
    text-align: center;
  }
  .no-padding {
    padding: 0;
  }
  .wrap-overflow {
    word-wrap: break-word;
  }
  #end-parties {
    margin-top: 5mm;
  }
  #start-end {
    border: 2px solid;
    border-radius: 3px;
    margin: 0;
  }
  hr {
    border-color: #222;
    margin: 2.5mm 0 2.5mm 0;
  }
</style>

<div class="headline">
  <h4>Order Confirmation</h4>
  <h5>IMC ref.: <%= shipment.imc_reference %></h5>
  <h5>Incoterms: CFR</h5>
</div>
<div class="container-fluid no-padding" id="end-parties">
  <div class="row" id="start-end">
    <div class="col-xs-5">
      <div class="wrap-overflow">
        <strong>Pickup Location:</strong> <%= shipment.pickup_address.geocoded_address %><br>
        <strong>Date of Pickup:</strong> <%= line_wrap(formatted_datetime(shipment.planned_pickup_date)) %>
      </div>
    </div>
    <div class="col-xs-2 no-padding">
      <div class="center wrap-overflow">
        <strong>&rArr;</strong>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="wrap-overflow">
        <strong>Destination:</strong> <%= shipment.destination_address.geocoded_address %><br>
        <strong>Planned Arrival:</strong> <%= line_wrap(formatted_datetime(shipment.planned_arrival_date)) %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-6">
      <div class="wrap-overflow">
        <u><strong>Consignor:</strong></u><br>
        <%= line_wrap(shipment.user.full_name) %><br>
        <strong>Address:</strong> <%= line_wrap(shipment.shipper_legal_address.full_address) %><br>
        <strong>Phone:</strong> <%= line_wrap(shipment.user.phone) %><br>
        <strong>Email:</strong> <%= line_wrap(shipment.user.email) %><br>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="wrap-overflow">
        <u><strong>Consignee:</strong></u><br>
        <%= line_wrap(shipment.receiver.full_name) %><br>
        <strong>Address:</strong> <%= line_wrap(shipment.receiver.full_address) %><br>
        <strong>Phone:</strong> <%= line_wrap(shipment.receiver.phone) %><br>
        <strong>Email:</strong> <%= line_wrap(shipment.receiver.email) %><br>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-6">
      <div class="wrap-overflow">
        <u><strong>Trucking:</strong></u><br>
        <strong>Route: </strong><%= shipment.pickup_address.geocoded_address %> (Pickup Location) &nbsp;&nbsp;<strong>&rarr;</strong>&nbsp;&nbsp; <%= line_wrap(shipment.start_port_address.geocoded_address) %> (Start Port CFS)<br>
        <strong>Company:</strong> <%= line_wrap(shipment.trucker.company_name) %><br>
        <strong>Phone:</strong> <%= line_wrap(shipment.trucker.phone) %><br>
        <strong>Email:</strong> <%= line_wrap(shipment.trucker.email) %><br>
        <strong>Trucking Distance:</strong> <%= shipment.trucking_distance_in_km %> km<br>
        <strong>Trucking Transit Time:</strong> <%= GoogleDirections.formatted_driving_time(shipment.trucking_transit_time) %><br>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="wrap-overflow">
        <u><strong>Sea Ocean:</strong></u><br>
        <strong>Route: </strong><%= line_wrap(shipment.start_port_address.geocoded_address) %> (Start Port CFS) &nbsp;&nbsp;<strong>&rarr;</strong>&nbsp;&nbsp; <%= line_wrap(shipment.end_port_address.city_country) %> (End Port CFS)<br>
        <strong>Company:</strong> <%= line_wrap(shipment.consolidator.company_name) %><br>
        <strong>Phone:</strong> <%= line_wrap(shipment.consolidator.phone) %><br>
        <strong>Email:</strong> <%= line_wrap(shipment.consolidator.email) %><br>
        <strong>Ocean Transit Time:</strong> <%= shipment.ocean_transit_time %> days<br>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <u><strong>Cargo Description:</strong></u><br>
      <strong>Number of units:</strong> <%= line_wrap("#{shipment.unit_number}") %><br>
      <strong>Type of goods:</strong> <%= line_wrap(shipment.cargo_description.goods_type) %><br>
      <strong>Weight per Unit:</strong> <%= line_wrap("#{shipment.cargo_description.weight}") %> tons<br>
      <strong>Dimensions per Unit:</strong> <%= line_wrap("X: #{shipment.cargo_description.dimension_x} cm | Y: #{shipment.cargo_description.dimension_y} cm | Z: #{shipment.cargo_description.dimension_z} cm") %> || Volume (p/u): <%= shipment.cargo_description.volume / 1000000 %> m&sup3;<br>
      <strong>Packaging:</strong> <%= line_wrap(shipment.cargo_description.packaging) %><br>
      <strong>Goods are stackable:</strong> <%= line_wrap(shipment.cargo_description.stackable ? "Yes" : "No") %><br>
      <strong>Goods are on Euro/EPAL-pallets:</strong> <%= line_wrap(shipment.cargo_description.europallet ? "Yes" : "No") %><br>
      <% unless shipment.cargo_description.notes.empty? %>
      <strong>Extra Notes:</strong> <%= line_wrap(shipment.cargo_description.notes) %><br>
      <% end %>
      <strong>Estimated value:</strong> <%= line_wrap(format_to_price(shipment.estimated_value, "USD")) %><br>
    </div>  
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <div class="wrap-overflow">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Trucking</td>
              <td><%= format_to_price(shipment.trucking_price, shipment.trucking_pricing.currency) %></td>
            </tr>
            <tr>
              <td>Ocean</td>
              <td><%= format_to_price(shipment.ocean_price, shipment.ocean_pricing.currency) %></td>
            </tr>
            <tr class="active">
              <td><strong>Total</strong></td>
              <td><strong>
                <% if shipment.trucking_pricing.currency == shipment.ocean_pricing.currency %>
                  <%= format_to_price(shipment.trucking_price + shipment.ocean_price, shipment.trucking_pricing.currency) %>
                <% else %>
                  <%= format_to_price(shipment.trucking_price, shipment.trucking_pricing.currency) %> + <%= format_to_price(shipment.ocean_price, shipment.ocean_pricing.currency) %>
                <% end %>
              </strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>