<style media="screen" type="text/css">
  .heading {
    text-align: center;    
  }
  div {
    padding: 0%;
    margin: 0%;
  }
  .col-xs-12 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-6 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-2 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-1 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-5 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-3 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-7 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-8 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-9 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-4 {
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .hr-right {
    border-right: 1px solid #0088ce;
  }
  .hr-bottom {
    border-bottom: 1px solid #0088ce;
  }
  .hr-top {
    border-top: 1px solid #0088ce;
  }
  .hr-left {
    border-left: 1px solid #0088ce;
  }
  .no-padding {
    padding: 0%;
  }
  .text-spacing-left {
    padding-left: 3px;
  }
  .text-strong {
    font-weight: bold;
    color: #0cac49;
  }
  .watermark {
	  color: #6699ff;
	  font-size: 100pt;
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  position: absolute;
	  /*width: 100%;
	  height: 100%;
	  margin: 0;*/
	  z-index: -1;
	  left:200px;
	  top:550px;
	  text-align: center;
	  opacity: 0.1;
	}
	.vertical {
    writing-mode: tb-rl;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    white-space: nowrap;
    display: block;
    bottom: 0;
    width: 20px;
	}
	.text {
	  padding-left: 2px;
	}
	br {
	  padding-bottom: 5px;
	}
	.logo {
		width: 200px;
	}
</style>

<% cargo_units = shipment.cargo_items.empty? ? shipment.containers : shipment.cargo_items %>
<% height_of_last = [(299 - (20 * (cargo_units.size - 1))), 20].max.to_s %>

<div class="container-fluid no-padding" style="border-top: 1px solid #0088ce;border-bottom: 1px solid #0088ce;">
  <div class="col-xs-12 ">
    <div class="col-xs-6 img-responsive" style="padding-left: 20px;">
    	<%= image_tag shipment.tenant.theme["logoLarge"], class: 'logo' %>
    </div>
    <div class="col-xs-6 heading text-strong">
    	<h1><strong>COMMERCIAL<br>INVOICE</strong></h1>
  	</div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-7 hr-right"> 
      <div class="col-xs-12 hr-top text-strong">
        <div class="col-xs-7 hr-right text-spacing-left">DATE OF EXPORT</div>
        <div class="col-xs-5 text-spacing-left">TERMS OF SALE</div>
      </div>
      <div class="col-xs-12 hr-top">
        <div class="col-xs-7 hr-right text-spacing-left">
        	<%= formatted_date(shipment.etd) %>
        </div>
        <div class="col-xs-5 text-spacing-left" >FOB</div>
      </div>
      <div class="col-xs-12 hr-top text-strong">
        <div class="col-xs-12 text-spacing-left">SHIPPER/EXPORTER</div>
      </div>
      <div class="col-xs-12 hr-top">
        <div class="col-xs-12 text-spacing-left" style="height: 100px;">
          
        </div>
      </div>
      <div class="col-xs-12 text-spacing-left text-strong hr-top " style="height: 20px;">
        COUNTRY OF ULTIMATE DESTINATION
      </div>
      <div class="col-xs-12 hr-top text-spacing-left" style="height: 50px;">
        <span style="font-size: 250%;">USA</span">
      </div>
      <div class="col-xs-12 text-spacing-left text-strong hr-top"  style="height: 20px;">
        INTERNATIONAL AIRWAYBILL NUMBER
      </div>
      <div class="col-xs-12 hr-top text-spacing-left" style="height: 50px;">
        <span style="font-size: 250%;">3457843USA12</span>
      </div>
      <div class="col-xs-12 hr-top text-spacing-left text-strong heading">
        FULL DESCRIPTION OF GOODS<br>(DESCRIPTION/ HS IF AVAIL.)        
      </div>
      <div class="col-xs-12 hr-top text-spacing-left" style="height: 300px;">        
        <% cargo_units.each do |cargo_unit| %>
	        <div>
	          <%= cargo_unit.hs_codes.uniq.join("&nbsp" * 5) %>
	        </div>
	      <% end %>

      </div>
      <div class="col-xs-12 hr-top text-spacing-left text-strong heading" style="height: 20px;">
        SUBTOTAL        
      </div>
      <div class="col-xs-12 hr-top text-spacing-left">
        <div class="col-xs-7 hr-right">
          <div class="col-xs-12 text-strong">
            TOTAL NO. OF PACKAGES
          </div>
          <div class="col-xs-12 hr-top">
            <span style="font-size: 250%;text-align: center;">1</span">
          </div>
        </div>
        <div class="col-xs-5" style="padding-top: 25px;">
          <div class="col-xs-5 text-strong text-spacing-left" >
            SW ID:
          </div>
          <div class="col-xs-7">
            1265796
          </div>
        </div>        
      </div>
      <div class="col-xs-12 hr-top text-spacing-left" style="height: 70px;">
        <div class="col-xs-12 text-strong">Payment Information</div>
        <div class="col-xs-12">
          We accept the payment via <br>
          SWIFT and BIC.
        </div>        
      </div>
    </div>


    <div class="col-xs-5">
      <div class="col-xs-12 hr-top text-strong">
        <div class="col-xs-7 hr-right text-spacing-left">REFERENCE</div>
        <div class="col-xs-5 text-spacing-left">CURRENCY</div>
      </div>
      <div class="col-xs-12 hr-top">
        <div class="col-xs-7 hr-right text-spacing-left">
        	<%= shipment.imc_reference %>
        </div>
        <div class="col-xs-5 text-spacing-left">
        	<%= shipment.tenant.try(:currency) || 'EUR' %>
        </div>
      </div>
      <div class="col-xs-12 hr-top text-strong">
        <div class="col-xs-12 text-spacing-left">CONSIGNEE</div>
      </div>
      <div class="col-xs-12 hr-top">
        <div class="col-xs-12 text-spacing-left" style="height: 100px;">
          
        </div>
      </div>
      <div class="col-xs-12 text-spacing-left text-strong hr-top" style="height: 20px;">
        IMPORTER<span style="font-weight: normal;"> (IF DIFFERENT THAN CONSIGNEE)</span>
      </div>
      <div class="col-xs-12 hr-top text-spacing-left"  style="height: 120px;">
        
      </div>
      <div class="col-xs-12 hr-top text-strong">
        <div class="col-xs-3 hr-right text-spacing-left heading">QTY<br>(UNITS)</div>
        <div class="col-xs-3 hr-right text-spacing-left heading">WEIGHT<br>(IN LBS.)</div>
        <div class="col-xs-3 hr-right text-spacing-left heading">UNIT<br>VALUE</div>
        <div class="col-xs-3 text-spacing-left heading">TOTAL<br>VALUE</div>
      </div>
      <div class="col-xs-12 hr-top" style="min-height: 300px;">
        <% cargo_units.each do |cargo_unit| %>
					<% style = cargo_unit == cargo_units.last ? 'style="height: ' + height_of_last + 'px"' : '' %>

	        <div class="col-xs-3 hr-right text-spacing-left heading" <%= style %>>
	          <%= amount = 1 %>
	        </div>
	        <div class="col-xs-3 hr-right text-spacing-left heading" <%= style %>>
	          <%= cargo_unit.payload_in_kg * 2.20462 %>
	        </div>
	        <div class="col-xs-3 hr-right text-spacing-left heading" <%= style %>>
	          <%= unit_value = format_to_price(shipment.cargo_charges[cargo_unit.id.to_s]["total"]["value"]) %>
	        </div>
	        <div class="col-xs-3 text-spacing-left heading" <%= style %>>
	          <%= format_to_price(amount * unit_value.to_f) %>
	        </div>
	      <% end %>
      </div>
      <div class="col-xs-12 text-strong">
        <div class="col-xs-3 hr-top hr-right text-spacing-left heading" style="height: 20px;"></div>
        <div class="col-xs-3 hr-top hr-right text-spacing-left heading" style="height: 20px;"></div>
        <div class="col-xs-3 hr-top hr-right text-spacing-left heading" style="height: 20px;"></div>
        <div class="col-xs-3 hr-top text-spacing-left heading" style="height: 20px;"></div>
      </div>
      

      <div class="col-xs-12 hr-top heading">
        <div class="col-xs-7 hr-right text-spacing-left text-strong" style="height: 21px;">FREIGHT</div>
        <div class="col-xs-5 text-spacing-left" style="height: 21px;">[ TBD ]</div>
      </div>

      <div class="col-xs-12 hr-top heading">
        <div class="col-xs-7 hr-right text-spacing-left text-strong" style="height: 21px;">INSURANCE</div>
        <div class="col-xs-5 text-spacing-left" style="height: 21px;">
        	<%= format_to_price(shipment.insurance) %>
        </div>
      </div>

      <div class="col-xs-12 hr-top heading">
        <div class="col-xs-7 hr-right text-spacing-left text-strong" style="height: 22px;">ADDITIONAL</div>
        <div class="col-xs-5 text-spacing-left" style="height: 22px;">[ TBD ]</div>
      </div>

      <div class="col-xs-12 hr-top text-spacing-left heading" style="height: 70px; padding-top: 26px;">
        <div class="col-xs-7 text-strong">TOTAL INVOICE VALUE:</div>
        <div class="col-xs-5 ">
        	<%= format_to_price(shipment.total_price) %>
        </div>
      </div>
    </div> 
  </div>
  <div class="col-xs-12 hr-top" style="height: 180px;">
    <div class="col-xs-12 text-spacing-left">
      I hereby certify that this invoice shows the actual price of goods described, that no other invoice has been issued, and all particulars are true and correct. 
    </div> 
    <div class="col-xs-12 text-spacing-left text-strong" style="margin-left: 10px;">
      SIGNATURE OF SHIPPER/EXPORTER
    </div> 
    <div class="col-xs-11 text-spacing-left text-strong" style="margin: 10px 10px 10px 10px;height: 60px; border: 1px solid #0088ce;">
     
    </div>
    <div class="col-xs-10 col-xs-offset-1 text-spacing-left text-strong">
      __________________________________________________<br>
      PRINT NAME HERE
    </div>    
  </div>
</div> 