  <div class="wrapper-quotations">
  <% primary_color = tenant.theme["colors"]["primary"] %>
  <% neutral_color = '#C4C4C4' %>
  <% tenant_logo_asset = "logoLarge_" + tenant["subdomain"] + ".png" %>
  <% tenant_logo_url = tenant.theme["logoLarge"] %>
  <% scope = tenant.scope %>
  <% precarriage_color = shipment.has_pre_carriage ? primary_color : neutral_color %>
  <% oncarriage_color = shipment.has_on_carriage ? primary_color : neutral_color %>

  <div class="title display-flex">
    <div>
      <h1>QUOTATIONS</h1>
      <hr style="border-color: <%= primary_color %>">
      <p><%= tenant.name %></p>
    </div>
    <div>
      <img src="<%=tenant.theme['logoSmall']%>" alt="" class="header-logo">
    </div>
    <div class="agent-info">
        <p><strong><%= shipment.user.first_name %> <%= shipment.user.last_name %></strong></p>
        <p><%= shipment.user.email %></p>
        <p><%= shipment.user.phone %></p>
        <% if shipment.user.external_id %>
          <p>Customer ID: <%= shipment.user.external_id.to_i %></p>
        <% end %>
    </div>
  </div>
  
  
  <% shipments.map do |s| %>
    <% origin_fee_color = s.selected_offer["export"] ? primary_color : neutral_color %>
    <% destination_fee_color = s.selected_offer["import"] ? primary_color : neutral_color %>
    <div class="all-row">
      <div class="main-container">
        <div class="validity">
          <p><b>Price valid until:</b></p>  
          <p class="text-right"><%= s.valid_until&.strftime('%d.%m.%Y') %></p>
        </div>
        <div class="info">
          <% if s.mode_of_transport == "ocean" %>
            <% mot = "anchor" %>
          <% elsif s.mode_of_transport == "air" %>
            <% mot = "plane" %>
          <% else %>
            <% mot = "truck" %>
          <% end %>
          <i class="fa fa-<%= mot %> mot-icon" style="color: <%= primary_color %>"></i>
          <div class="shipment-info">
            <p>From:&nbsp;<span><%= s.origin_hub.name %></span></p>
            <p>To:&nbsp;<span><%= s.destination_hub.name %></span></p>
            <p>Ref:&nbsp;<span><%= s.imc_reference %></span></p>
          </div>
          <div class="text-right cargo-info">
            <div class="charge-icons">
              <i class="fa fa-truck" style="color: <%= precarriage_color %>"></i>
              <i class="fa fa-file-o" style="color: <%= origin_fee_color %>"></i>
              <i class="fa fa-anchor" style="color: <%= primary_color %>"></i>
              <i class="fa fa-file" style="color: <%= destination_fee_color %>"></i>
              <i class="fa fa-truck flip" style="color: <%= oncarriage_color %>"></i>
            </div>
            <p>
              <strong>Weight:</strong>
              <%= '%.2f' % cargo_data[:kg][s.id] %>&nbsp;kg
            </p>
            <% if s.load_type != 'container'%>
              <p>
                <strong>Volume:</strong>
                <%= '%.2f' % cargo_data[:vol][s.id] %>&nbsp;m<sup>3</sup>
              </p>
            <% end %>
          </div>
        </div>
        <div class="delivery-info">
          <div class="cargo-info">
            <% if s.has_pre_carriage %> <p> <b> Pickup from</b>: <%=  s.pickup_address.full_address %> </p> <% end %>
            <% if s.has_on_carriage %> <p> <b> Delivery to</b>: <%=  s.delivery_address.full_address  %></p>  <% end %>
          </div>
        </div>
      </div>
      <div class="cargo-details-all">
        <div class="border-box">
          <div class="cargo-details-title">
            <h1>Cargo Details</h1>
          </div>
          <% s.cargo_items.each_with_index do |cargo, i| %>
            <div class="first-cargo-row display-flex-center text-center border-bottom">
              <div class="cargo-index cargo-section">
                <p class="cargo-value"><%= i + 1 %></p>
              </div>
              <div class="cargo-items cargo-section">
                <p class="cargo-subtitle"><strong><%= cargo.quantity %>&nbsp;x</strong> <%= load_type %></p>
              </div>
              <div class="cargo-section">
                <p class="cargo-value"><span class="cargo_type"><%= cargo.cargo_item_type.description %></span></p>
                <p class="cargo-subtitle">Cargo&nbsp;type</p>
              </div>
              <div class="cargo-section">
                <p class="cargo-value"><span class="cargo-type"><%= '%.2f' % (cargo.payload_in_kg || cargo.weight) %></span>&nbsp;kg </p>
                <p class="cargo-subtitle">Gross&nbsp;Weight</p>
              </div>
              <div class="cargo-section ">
                <p class="cargo-value">
                  <span class="cargo-type"><%='%.2f' % cargo.chargeable_weight %></span>&nbsp;kg
                </p>
                <p class="cargo-subtitle">Chargeable&nbsp;Weight</p>
              </div>          
              <div class="cargo-section">
                <p class="cargo-value"><span class="cargo-type"><%= '%.2f' % cargo.dimension_x %></span>&nbsp;cm </p>
                <p class="cargo-subtitle">Length</p>
              </div>
              <div class="cargo-section">
                <p class="cargo-value"><span class="cargo-type"><%= '%.2f' % cargo.dimension_y %></span>&nbsp;cm </p>
                <p class="cargo-subtitle">Width</p>
              </div>
              <div class="cargo-section">
                <p class="cargo-value"><span class="cargo-type"><%= '%.2f' % cargo.dimension_z %></span>&nbsp;cm </p>
                <p class="cargo-subtitle">Height</p>
              </div>
              <div class="cargo-section cargo-section-last">
                <p class="cargo-value">
                  <span class="cargo-type"><%= '%.2f' % cargo.volume %></span>&nbsp;m<sup>3</sup>
                </p>
                <p class="cargo-subtitle">Volume</p>
              </div>
            </div>   
            
          <% end %>
          <% s.containers.each_with_index do |container, i| %>

            <div class="first-cargo-row display-flex-center text-center border-bottom">
              <div class="cargo-index cargo-section">
                <p class="cargo-value"><%= i + 1 %></p>
              </div>
              <div class="cargo-items cargo-section">
                <p class="cargo-subtitle"><strong><%= container.quantity %> x</strong> <%= load_type %></p>
              </div>
              <div class="cargo-section">
                <p class="cargo-value"><span class="cargo_type"><%= container.size_class.upcase %></span></p>
                <p class="cargo-subtitle">Cargo type</p>
              </div>
              <div class="cargo-section">
                <p class="cargo-value"><span class="cargo-type"><%= '%.2f' % container.gross_weight %></span>&nbsp;kg </p>
                <p class="cargo-subtitle">Gross Weight</p>
              </div>         
            </div>     
            
          <% end %>
          <% if  s.aggregated_cargo %>

            <div class="first-cargo-row display-flex-center text-center border-bottom">
              <div class="cargo-index cargo-section">
                <p class="cargo-value">1</p>
              </div>
              <div class="cargo-items cargo-section">
                <p class="cargo-subtitle"><strong>Aggregated Cargo</strong></p>
              </div>
              <div class="cargo-section">
                <p class="cargo-value"><span class="cargo-type"><%= '%.2f' % s.aggregated_cargo.weight %></span> &nbsp;kg </p>
                <p class="cargo-subtitle">Gross Weight</p>
              </div>

              <div class="cargo-section">
                <p class="cargo-value">
                  <span class="cargo-type">
                    <%= '%.2f' % s.aggregated_cargo.volume %>
                  </span>&nbsp;m<sup>3</sup>
                </p>
                <p class="cargo-subtitle">Volume</p>
              </div>
              <div class="cargo-section cargo-section-last">
                <p class="cargo-value">
                  <span class="cargo-type">
                    <%= '%.2f' % s.aggregated_cargo.chargeable_weight %>
                  </span>&nbsp;kg
                </p>
                <p class="cargo-subtitle">Chargeable Weight</p>
              </div>          
            </div>     
            
          <% end %>
        </div>
      </div>
      <% ['trucking_pre', 'export', 'cargo', 'import', 'trucking_on' ].each do |charge_key| %>
        <% charge = s.selected_offer[charge_key]%>
        <% next if !charge%>
        <div class="sub-prices">
          <div class="total-price-single">
            <h4><%= charge["name"] == 'Freight' ? "#{s.mode_of_transport} #{charge["name"]}" : charge["name"] %></h4>
            <% if charge != "Grand Total" && scope['cargo_price_notes'] && scope['cargo_price_notes'][charge_key] %>
              <p><%= scope['cargo_price_notes'][charge_key.to_s]%></p>
            <% elsif charge != "Grand Total" && !scope['hide_grand_total'] %>
              <h3><%= '%.2f' % charge["total"]["value"].to_f %>&nbsp;<%= charge["total"]["currency"] %></h3>
            <% end %>
          </div>
          <div class="subtotal-price-group">
            <% if charge != "Grand Total" && !scope.dig('cargo_price_notes', charge_key) %>
              <% 
                sorted_charges = if ['export', 'import'].include?(charge_key) 
                  charge.except("total", "edited_total", "name").values.group_by{|c| c['currency']}
                  else
                  charge.except("total", "edited_total", "name").values.group_by{|c| c['total']['currency']}
                  end
                %>
              <% sorted_charges.each do |currency_key, sub_charges| %>
                <div class="subtotal-currency-single">
                  <h4>Fees charged in <%= currency_key %>:</h4>
                  <h3> 
                    <%= 
                      if scope['hide_sub_totals'] && scope['cargo_price_notes'] && scope['cargo_price_notes'][charge_key]
                        scope['cargo_price_notes'][charge_key.to_s]
                      elsif ['export', 'import'].include?(charge_key) 
                        "#{'%.2f' % sub_charges.sum{|c| c['value']}}&nbsp;#{currency_key}"
                      else
                        "#{'%.2f' % sub_charges.sum{|c| c['total']['value']}}&nbsp;#{currency_key}"
                      end
                      %>
                  </h3>
                </div>
                <% sub_charges.each do |sub_charge| %>
                  <div class="subtotal-price-single">
                    <h4><%= sub_charge["name"] %></h4>
                    <% if sub_charge["value"] && !scope['hide_sub_totals'] %>
                      <h3> <%= '%.2f' % sub_charge["value"].to_f %>&nbsp;<%= sub_charge["currency"] %></h3>
                    <% elsif scope['hide_sub_totals'] && scope['cargo_price_notes'] && scope['cargo_price_notes'][charge_key] %>
                      <h3> <%= scope['cargo_price_notes'][charge_key.to_s] %></h3>
                    <% elsif !scope['hide_sub_totals'] && (!scope['cargo_price_notes'] || scope['cargo_price_notes'] && !scope['cargo_price_notes'][charge_key]) %>
                      <h3> <%= '%.2f' % sub_charge["total"]["value"] %>&nbsp;<%= sub_charge["total"]["currency"] %></h3>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if !scope['hide_grand_total']%>
        <div class="total-row">
          <h4>Total</h4>
          <p class="quote"><%= '%.2f' % s.selected_offer["total"]["value"].to_f %>
            &nbsp;<%= s.selected_offer["total"]["currency"] %>
          </p>
        </div>
      <% end %>
      <div class="tenant-notes-row">
          <p class="">
            <%= tenant.scope["quote_notes"] || "" %>
          </p>
        </div>
    </div>
  <% end %>

  <div class="remarks">
    <h4>Remarks:</h4>
    <ul>
      <% remarks.each do  |remark|%>
        <li><%= remark.body %></li>
      <% end %>
    </ul>
  </div>
  <div class="remarks">
    <h4>Notes: </h4>
    <ul> <% notes.each do |note| %>
      <li class="note-header"> <%= note.header %></li>
      <li> <%= note.body  %></li>
      <% end %>
    </ul>
  </div>
</div>
