<style media="screen" type="text/css">
  body{
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
  }
  .wrapper {
    padding-left: 400px;
    padding-right: 400px;
  }
  .wrapper .title {
    padding: 400px !important;
  }
  .wrapper .title h1 {
    font-size: 80px !important;
    font-weight: bold !important;
  }
  .wrapper .title p {
    font-size: 40px !important;
  }
  .wrapper .title hr {
    max-width: 250px;
    border: 2px solid #e10f21;
    margin: 40px auto;
  }
  .col-xs-12{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word; 
  }

  .col-xs-6{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-2{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-1{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-5{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-3{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-7{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-8{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-9{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }
  .col-xs-4{
    padding: 0%;
    margin: 0%;
    word-wrap: break-word;
  }

  .hr-right{
    border-right: 1px solid #096CAF;
  }
  .hr-bottom{
    border-bottom: 1px solid #096CAF;
  }
  .hr-top{
    border-top: 1px solid #096CAF;
  }
  .hr-left{
    border-left: 1px solid #096CAF;
  }
  .no-padding{
    padding: 0%;
  }
  .watermark {
    color: #6699ff;
    font-size: 100pt;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    position: absolute;
    z-index: -1;
    left:200px;
    top:550px;
    text-align: center;
    opacity: 0.1;
  }
  .quote {
    font-size: 45px;
  }
  .wrapper-vertical {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    text-align: center;
    height: 25mm;
    width: 25mm;
  }
  .vertical {
    white-space: nowrap;
    margin: 0; 
    font-size: 90%;
  }
  .text{
    padding-left: 2px;
  }
  br{
    padding-bottom: 5px;
  }
  .logo {
    height: 430px;
    width: 430px;
    margin: 0 auto !important;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  }
  .info {
    padding: 60px;
    background: white;
    border: 6px solid #E0E0E0;
    border-bottom: none;
  }
  .info i {
    padding-top: 40px;
    color: #e10f21;
    font-size: 80px;
  }
  .info p {
    font-size: 50px;
  }
  .info p span {
    font-size: 60px;
    font-weight: bold;
  }
  .total-price-single {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 3px solid #E0E0E0;
    border: 3px solid #E0E0E0;
  }
  .subtotal-price-single {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #F8F8F8;
    border-bottom: 3px solid #E0E0E0;
  }
  .subtotal-price-single h3 {
    padding-right: 40px;
    font-size: 32px;
    text-align: right;
    font-weight: bold;
  }
  .subtotal-price-single h4 {
    padding-left: 40px;
    font-weight: bold;
    font-size: 32px;
  }
  .total-price-single h4 {
    font-size: 38px;
    padding-left: 40px;
    text-transform: capitalize;
  }
  .total-price-single h3 {
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    padding-right: 80px;
  }
  .total-row {
    background: #F8F8F8;
    border: 3px solid #BDBDBD;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .total-row h4 {
    padding-top: 25px;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    padding-left: 40px;
  }
  .total-row p {
    font-weight: bold;
    padding-right: 40px;
    font-size: 76px;
    text-align: right;
  }
  .sub-prices {
    margin-left: 16px;
    margin-right: 16px;
  }
  .all-row {
    margin-bottom: 80px;
  }
</style>

<div class="wrapper">
  <img src="<%= tenant.theme['logoLarge'] %>" class="logo">
  <%# <div class="logo"></div> %>
  <div class="col-xs-12 title" style="font-size: 150%; text-align: center;">
    <h1>QUOTATIONS</h1>
    <hr>
    <p><%= tenant.name %></p>
  </div>

  <div class="all-row">
    <div class="main-container container-fluid">
      <div class="info row">
        <% shipments.map do |shipment| %>
          <% quotes.map do |quote| %>
            <% if quote["mode_of_transport"] == "ocean" %>
              <i class="fas fa-anchor col-xs-1"></i>
            <% end %>
            <% if quote["mode_of_transport"] == "air" %>
              <i class="fas fa-paper-plane col-xs-1"></i>
            <% end %>
            <div class="col-xs-11">
              <p>From:&nbsp;<span><%= shipment["origin_hub"]["name"] %></span></p>
              <p>To:&nbsp;<span><%= shipment["destination_hub"]["name"] %></span></p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="total-row row">
        <h4 class="col-xs-6">Total</h4>
        <p class="quote col-xs-6"><%= shipment["selected_offer"]["total"]["value"].to_f.truncate(2) %>&nbsp;<%= shipment["selected_offer"]["total"]["currency"] %></p>
      </div>

        <% shipment["selected_offer"].each do |k, v| %>
          <div class="sub-prices row">
            <% if k != "total" && k != "edited_total" %>
              <div class="col-xs-12">
                <div class="total-price-single row">
                  <h4 class="col-xs-6"><%= k %></h4>
                  <h3 class="col-xs-6"><%= v["value"].to_f.truncate(2) %>&nbsp;<%= v["currency"] %></h3>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>