<div class="wrapper-quotations">
  <% primary_color = tenant.theme["colors"]["primary"] %>
  <% neutral_color = '#C4C4C4' %>
  <% tenant_logo_asset = "logoLarge_" + tenant["subdomain"] + ".png" %>
  <% tenant_logo_url = tenant.theme["logoLarge"] %>
  <% scope = tenant.scope %>
  <% precarriage_color = shipment.has_pre_carriage ? primary_color : neutral_color %>
  <% oncarriage_color = shipment.has_on_carriage ? primary_color : neutral_color %>

  <div class="title display-flex">
    <div>
      <h1>QUOTATIONS</h1>
      <hr style="border-color: <%= primary_color %>">
      <p><%= tenant.name %></p>
    </div>
    <div class="agent-info">
        <p><strong><%= shipment.user.first_name %> <%= shipment.user.last_name %></strong></p>
        <p><%= shipment.user.email %></p>
        <p><%= shipment.user.phone %></p>
        <% if shipment.user.external_id %>
          <p>Customer ID: <%= shipment.user.external_id.to_i %></p>
        <% end %>
    </div>
  </div>

    <% shipments.map do |s| %>
      <% origin_fee_color = s.selected_offer["export"] ? primary_color : neutral_color %>
      <% destination_fee_color = s.selected_offer["import"] ? primary_color : neutral_color %>
      <div class="all-row">
        <div class="main-container">
          <div class="info">
            <% if s.mode_of_transport == "ocean" %>
              <% mot = "anchor" %>
            <% elsif s.mode_of_transport == "air" %>
              <% mot = "plane" %>
            <% else %>
              <% mot = "truck" %>
            <% end %>
            <i class="fa fa-<%= mot %> mot-icon" style="color: <%= primary_color %>"></i>
            <div class="shipment-info">
              <p>From:&nbsp;<span><%= s.origin_hub.name %></span></p>
              <p>To:&nbsp;<span><%= s.destination_hub.name %></span></p>
              <p>Ref:&nbsp;<span><%= s.imc_reference %></span></p>
            </div>
            <div class="text-right cargo-info">
              <div class="charge-icons">
                <i class="fa fa-truck" style="color: <%= precarriage_color %>"></i>
                <i class="fa fa-file-o" style="color: <%= origin_fee_color %>"></i>
                <i class="fa fa-anchor" style="color: <%= primary_color %>"></i>
                <i class="fa fa-file" style="color: <%= destination_fee_color %>"></i>
                <i class="fa fa-truck flip" style="color: <%= oncarriage_color %>"></i>
              </div>
              <p>
                <strong>Kg:</strong>
                <%= cargo_data[s.id]
                %>&nbsp;kg
              </p>
              <% if s.load_type != 'container'%>
                <p>
                  <strong>Vol:</strong>
                  <%= if s.aggregated_cargo
                        s.aggregated_cargo.volume.to_f
                      else
                        s.cargo_units.inject(0) do |sum, hash| 
                          sum + (hash[:quantity].to_f * hash[:dimension_x].to_f * hash[:dimension_y].to_f * hash[:dimension_z].to_f / 1000000)
                        end
                      end
                  %>&nbsp;kg
                </p>
              <% end %>
            </div>
          </div>
        </div>

      <% s.selected_offer.except("total", "edited_total", "name").each do |charge_key, charge| %>
        <div class="sub-prices">
          <div class="total-price-single">
            <h4><%= charge["name"] %></h4>
            <% if charge != "Grand Total" && !scope['hide_grand_total'] %>
              <h3><%= charge["total"]["value"].to_f.truncate(2) %>&nbsp;<%= charge["total"]["currency"] %></h3>
            <% end %>
          </div>
          <div class="subtotal-price-group">
            <% if charge != "Grand Total" %>
              <% 
                sorted_charges = if ['export', 'import'].include?(charge_key) 
                  charge.except("total", "edited_total", "name").values.group_by{|c| c['currency']}
                  else
                  charge.except("total", "edited_total", "name").values.group_by{|c| c['total']['currency']}
                  end
                %>
              <% sorted_charges.each do |currency_key, sub_charges| %>
                <div class="subtotal-currency-single">
                  <h4>Fees charged in <%= currency_key %>:</h4>
                  <h3> 
                    <%= 
                      if ['export', 'import'].include?(charge_key) 
                        sub_charges.sum{|c| c['value']} 
                      else
                        sub_charges.sum{|c| c['total']['value']} 
                      end
                     %>&nbsp;<%= currency_key %>
                  </h3>
                </div>
                <% sub_charges.each do |sub_charge| %>
                  <div class="subtotal-price-single">
                    <h4><%= sub_charge["name"] %></h4>
                    <% if sub_charge["value"] && !scope['hide_sub_totals'] %>
                      <h3> <%= sub_charge["value"].to_f.truncate(2).to_s %>&nbsp;<%= sub_charge["currency"] %></h3>
                    <% elsif scope['hide_sub_totals'] && scope['cargo_price_notes'] && scope['cargo_price_notes'][charge_key] %>
                      <h3> <%= scope['cargo_price_notes'][charge_key.to_s] %></h3>
                    <% elsif !scope['hide_sub_totals'] && (!scope['cargo_price_notes'] || scope['cargo_price_notes'] && !scope['cargo_price_notes'][charge_key]) %>
                      <h3> <%= sub_charge["total"]["value"] %>&nbsp;<%= sub_charge["total"]["currency"] %></h3>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if !scope['hide_grand_total']%>
        <div class="total-row">
            <h4>Total</h4>
            <p class="quote"><%= s.selected_offer["total"]["value"].to_f.truncate(2) %>
              &nbsp;<%= s.selected_offer["total"]["currency"] %>
            </p>
          </div>
          <p class="notes">
            <%= tenant.scope["quote_notes"] || "" %>
          </p>
        </div>
      <% end %>
      
    <% end %>
  
</div>
