<div class="wrapper-quotations">
  <% primary_color = tenant.theme["colors"]["primary"] %>
  <% neutral_color = '#C4C4C4' %>
  <% tenant_logo_asset = "logoLarge_" + tenant["subdomain"] + ".png" %>
  <% tenant_logo_url = tenant.theme["logoLarge"] %>
  <% precarriage_color = shipment.has_pre_carriage ? primary_color : neutral_color %>
  <% oncarriage_color = shipment.has_on_carriage ? primary_color : neutral_color %>

  <div class="title display-flex">
    <div>
      <h1>QUOTATIONS</h1>
      <hr style="border-color: <%= primary_color %>">
      <p><%= tenant.name %></p>
    </div>
    <div class="agent-info">
        <p><strong><%= shipment.user.first_name %> <%= shipment.user.last_name %></strong></p>
        <p><%= shipment.user.email %></p>
        <p><%= shipment.user.phone %></p>
    </div>
  </div>

    <% shipments.map do |s| %>
      <% origin_fee_color = s.selected_offer["export"] ? primary_color : neutral_color %>
      <% destination_fee_color = s.selected_offer["import"] ? primary_color : neutral_color %>
      <div class="all-row">
        <div class="main-container">
          <div class="info">
            <% if s.itinerary.mode_of_transport == "ocean" %>
              <% mot = "anchor" %>
            <% elsif s.itinerary.mode_of_transport == "air" %>
              <% mot = "plane" %>
            <% else %>
              <% mot = "truck" %>
            <% end %>
            <i class="fa fa-<%= mot %> mot-icon" style="color: <%= primary_color %>"></i>
            <div class="shipment-info">
              <p>From:&nbsp;<span><%= s.origin_hub.name %></span></p>
              <p>To:&nbsp;<span><%= s.destination_hub.name %></span></p>
            </div>
            <div class="text-right cargo-info">
              <div class="charge-icons">
                <i class="fa fa-truck" style="color: <%= precarriage_color %>"></i>
                <i class="fa fa-file-o" style="color: <%= origin_fee_color %>"></i>
                <i class="fa fa-anchor" style="color: <%= primary_color %>"></i>
                <i class="fa fa-file" style="color: <%= destination_fee_color %>"></i>
                <i class="fa fa-truck flip" style="color: <%= oncarriage_color %>"></i>
              </div>
              <p>
                <strong>Kg:</strong>
                <%= shipment.cargo_items.inject(0) {|sum, hash| sum + hash[:payload_in_kg].to_f} %>&nbsp;kg
              </p>
            </div>
          </div>
        </div>

      <% s.selected_offer.except("total", "edited_total", "name").each do |charge_key, charge| %>
        <div class="sub-prices">
          <div class="total-price-single">
            <h4><%= charge["name"] %></h4>
            <% if charge != "Grand Total" %>
              <h3><%= charge["total"]["value"].to_f.truncate(2) %>&nbsp;<%= charge["total"]["currency"] %></h3>
            <% end %>
          </div>
          <div class="subtotal-price-group">
            <% if charge != "Grand Total" %>
              <% charge.except("total", "edited_total", "name").each do |sub_charge_key, sub_charge| %>
                <div class="subtotal-price-single">
                  <h4><%= sub_charge["name"] %></h4>
                  <% if sub_charge["value"] %>
                    <h3> <%= sub_charge["value"].to_f.truncate(2).to_s %>&nbsp;<%= sub_charge["currency"] %></h3>
                  <% else %>
                    <h3> <%= sub_charge["total"]["value"] %>&nbsp;<%= sub_charge["total"]["currency"] %></h3>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

        <div class="total-row">
          <h4>Total</h4>
          <p class="quote"><%= s.selected_offer["total"]["value"].to_f.truncate(2) %>
            &nbsp;<%= s.selected_offer["total"]["currency"] %>
          </p>
        </div>
        <p class="notes">
          <%= tenant.scope["quote_notes"] || "" %>
        </p>
      </div>
      
    <% end %>
  
</div>
