<% shipper = shipment.shipper %>
<% consignee = shipment.consignee %>
<% notifyees = shipment.notifyees %>
<% primary_color = tenant.theme["colors"]["primary"] %>
<% neutral_color = '#C4C4C4' %>
<% precarriage_color = shipment.has_pre_carriage ? primary_color : neutral_color %>
<% oncarriage_color = shipment.has_on_carriage ? primary_color : neutral_color %>
<% origin_fee_color = shipment.selected_offer["export"] ? primary_color : neutral_color %>
<% destination_fee_color = shipment.selected_offer["import"] ? primary_color : neutral_color %>
<% weight_units = scope['values']['weight'] %>

<div class="wrapper-quotations">
  <div class="main-title-shipment">
    <div class="title-shipments" style="text-align: left;">
      <h1>Shipment <%= shipment.imc_reference %></h1>

    </div>
    <div class="text-right tenant-shipments">
      <h1><%= shipment.tenant.name %></h1>
    </div>
  </div>
  <hr class="hr-shipment" style="border-color: <%= primary_color %>">
  <div class="refrow">
    <p class="ref">Placed on&nbsp;<span><%= shipment.updated_at.strftime("%d/%m/%Y") %></span></p>
    <p class="ref text-right"><b>Price valid until:</b> <%= shipment.valid_until&.strftime('%d.%m.%Y') %></p>
  </div>
  <div class="overview">
      <div class="info overview-child border-none">
          <% if shipment.mode_of_transport == "ocean" %>
            <% mot = "anchor" %>
          <% elsif shipment.mode_of_transport == "air" %>
            <% mot = "plane" %>
          <% else %>
            <% mot = "truck" %>
          <% end %>
          <i class="fa fa-<%= mot %> mot-icon" style="color: <%= primary_color %>"></i>
          <div class="shipment-info">
            <p>From:&nbsp;<span><%= shipment.origin_hub.name %></span></p>
            <p>To:&nbsp;<span><%= shipment.destination_hub.name %></span></p>
          </div>
          <div class="text-right cargo-info">
            <div class="charge-icons">
              <i class="fa fa-truck" style="color: <%= precarriage_color %>"></i>
              <i class="fa fa-file" style="color: <%= origin_fee_color %>"></i>
              <i class="fa fa-anchor" style="color: <%= primary_color %>"></i>
              <i class="fa fa-file" style="color: <%= destination_fee_color %>"></i>
              <i class="fa fa-truck flip" style="color: <%= oncarriage_color %>"></i>
            </div>
            <p>
              <strong>Weight:</strong>
              <% w_value = weight_units['unit'] == 'kg' ? cargo_data[:kg][shipment.id] : cargo_data[:kg][shipment.id] / 1000 %>
              <%="#{"%.#{weight_units['decimals']}f" % w_value} #{weight_units['unit']}" %>&nbsp;
            </p>
            <% if shipment.load_type != 'container'%>
              <p>
                <strong>Volume:</strong>
                <%= '%.2f' %  cargo_data[:vol][shipment.id] %>&nbsp;m<sup>3</sup>
              </p>
            <% end %>
            <% if shipment.vessel_name %>
              <p>
                <strong>Vessel:</strong>
                <%= shipment.vessel_name %>
              </p>
            <% end %>
          </div>
        </div>

  </div>

  <% if shipment.has_on_carriage || shipment.has_pre_carriage && (shipment.pickup_address || shipment.delivery_address) %>
    <div class="carriage-row border-bottom">

      <% if shipment.pickup_address && shipment.has_pre_carriage %>
        <div>
          <div class="display-flex">
            <i class=" fa fa-check check-square" style="color: <%= precarriage_color %>"></i>
            <h4>
              Pick-up estimated on <%= shipment.planned_pickup_date.try(:strftime, "%d/%m/%Y") %>
            </h4>
          </div>

          <div>
            <% if shipment.pickup_address %>
              <p><%= shipment.pickup_address.geocoded_address %></p>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if shipment.delivery_address && shipment.has_on_carriage %>
        <div>
          <div class="display-flex">
            <i class=" fa fa-check check-square" style="color: <%= oncarriage_color %>"></i>
            <h4>
              Delivery estimated at <%= shipment.planned_delivery_date.try(:strftime, "%d/%m/%Y") %>
            </h4>
          </div>
          <div>
            <% if shipment.delivery_address %>
              <p><%= shipment.delivery_address.geocoded_address %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="dates margin-bottom">
    <% if !shipment.has_pre_carriage %>
      <div>
        <h4 class="date-title">Closing Date</h4>
        <p class="sched-elem">
          <%= shipment.closing_date.strftime("%d/%m/%Y") %>
        </p>
      </div>
    <% end %>
    <div>
      <h4 class="date-title">ETD</h4>
      <p class="sched-elem">
        <%= shipment.etd.strftime("%d/%m/%Y") %>
      </p>
    </div>
    <div>
      <h4 class="date-title">ETA</h4>
      <p class="sched-elem">
        <%= shipment.eta.strftime("%d/%m/%Y") %>
      </p>
    </div>
    <div>
      <h4 class="date-title"> Estimated T/T <sup>*</sup></h4>
      <p class="sched-elem">
        <%= ((shipment.eta - shipment.etd) / 1.day).ceil %>
        Days
      </p>
    </div>
  </div>

  <div class="padding-top contacts-row">
    <div class="display-flex contact-box">
      <div>
        <div class="basic-info">
          <div class="display-flex-center">
            <i class="fa fa-user " style="color: <%= primary_color%>"></i>
            <h1><%= shipper.first_name %> <%= shipper.last_name %></h1>
          </div>
          <div class="margin-bottom display-flex-center">
            <i class="fa fa-building " style="color: <%= primary_color%>"></i>
            <h2><%= shipper.company_name %></h2>
          </div>
        </div>

        <div class="contact-info">
          <div class="display-flex-center">
            <i class="fa fa-envelope " style="color: <%= primary_color%>"></i>
            <h3><%= shipper.email %></h3>
          </div>
          <div class="display-flex-center">
            <i class="fa fa-phone " style="color: <%= primary_color%>"></i>
            <h3><%= shipper.phone %></h3>
          </div>
        </div>
          <h3>
            <%= shipper.address.street %> <%= shipper.address.street_number %>,
            <%= shipper.address.zip_code %> <%= shipper.address.city %>
          </h3>
      </div>
    </div>

    <div class="text-center arrow-circle">
      <i class="fa fa-arrow-right"></i>
    </div>

    <div class="display-flex contact-box">
      <div>
        <div class="basic-info">
          <div class="display-flex-center">
            <i class="fa fa-user " style="color: <%= primary_color%>"></i>
            <h1><%= consignee.first_name %> <%= consignee.last_name %></h1>
          </div>
          <div class="display-flex-center margin-bottom">
            <i class="fa fa-building " style="color: <%= primary_color%>"></i>
            <h2><%= consignee.company_name %></h2>
          </div>
        </div>

        <div class="contact-info">
          <div class="display-flex-center">
            <i class="fa fa-envelope " style="color: <%= primary_color%>"></i>
            <h3><%= consignee.email %></h3>
          </div>
          <div class="display-flex-center">
            <i class="fa fa-phone " style="color: <%= primary_color%>"></i>
            <h3><%= consignee.phone %></h3>
          </div>
        </div>
        <h3>
          <%= consignee.address.street %> <%= consignee.address.street_number %>,
          <%= consignee.address.zip_code %> <%= consignee.address.city %>
        </h3>
      </div>
    </div>
  </div>
  <% additional_services = scope['has_customs'] || scope['has_insurance']%>
  <% service_css = additional_services ? "services-box" : "services-box wide" %>
  <div class="padding-top-double">
    <div class="border-box display-flex-center margin-bottom">
      <div class="<%= service_css %>">
        <div>
          <h3>Freight, Duties & Carriage:</h3>
            <div>

              <div class="display-flex-center whole">
                <div class="display-flex half margin-bottom">
                  <i class="fa fa-truck" style="color: <%= shipment.has_pre_carriage ? primary_color : '#E0E0E0' %>"></i>
                  <p>Pick-up</p>
                </div>
                <div class="display-flex half margin-bottom">
                  <i
                    class="fa fa-truck flip"
                    style="color: <%= shipment.has_on_carriage ? primary_color : '#E0E0E0' %>"
                  ></i>
                  <p>Delivery</p>
                </div>
              </div>

              <div class="display-flex-center whole">
                <div class="display-flex half margin-bottom">
                  <i
                    class="fa fa-file-o"
                    style="color: <%= shipment.selected_offer["export"] ? primary_color : '#E0E0E0' %>"
                  ></i>
                  <p>
                Origin<br />
                Local Charges
                  </p>
                </div>
                <div class="display-flex half margin-bottom">
                  <i
                    class="fa fa-file"
                    style="color: <%= shipment.selected_offer["import"] ? primary_color : '#E0E0E0' %>">
                  </i>
                  <p>
                Destination<br />
                Local Charges
                  </p>
                </div>
              </div>

              <div class="display-flex margin-bottom whole">
                  <i
                    class="fa fa-ship" style="color: <%= primary_color %>"></i>
                <p><%="#{shipment.mode_of_transport.capitalize} Freight" %></p>
              </div>

          </div>
        </div>
      </div>
      <% if scope['has_customs'] || scope['has_insurance']%>

        <div class="additional-services">

          <h3>Additional <br/> Services</h3>
          <div>

            <div class="display-flex margin-bottom">
              <i class="fa fa-user" style="color: <%= shipment.selected_offer["customs"] ? primary_color : '#E0E0E0' %>"></i>
              <p>Customs</p>
            </div>

            <div class="display-flex margin-bottom">
              <i class="fa fa-umbrella" style="color: <%= shipment.selected_offer["insurance"] ? primary_color : '#E0E0E0' %>"></i>
              <p>Insurance</p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="total-section">
        <p><span>x<%= shipment.aggregated_cargo ? '1' : shipment.cargo_units.pluck(:quantity).sum %>&nbsp;</span><%= load_type %></p>
        <h2>
          <% if shipment.selected_offer["edited_total"] %>
            <%= '%.2f' % shipment.selected_offer["edited_total"]["value"] %>
            <%= shipment.selected_offer["edited_total"]["currency"] %>
          <% else %>
            <%= '%.2f' % shipment.selected_offer["total"]["value"] %>
            <%= shipment.selected_offer["total"]["currency"] %>
          <% end %>
        </h2>
      </div>
    </div>
  </div>

  <div class="cargo-details-all">
    <div class="border-box">
      <div class="cargo-details-title">
        <h1>Cargo Details</h1>
      </div>

      <% shipment.cargo_items.each_with_index do |cargo, i| %>
            <div class="no_page_break">
              <div class="title_row">
                <p class=""><strong><%= cargo.quantity %>&nbsp;x</strong> <%= cargo.cargo_item_type.description %></p>
              </div>
              <table class="data-table">
                <tr>
                  <td class="table-title">
                    <p >
                      <%=
                        [cargo.dimension_x, cargo.dimension_y, cargo.dimension_z]
                          .map{|v| "#{format('%.2f',v)} cm"}.join(' x ')
                      %>
                    </p>
                  </td>
                  <td class="table-value"><span><%= '%.3f' % cargo.volume %>&nbsp;m<sup>3</span></sup></td>
                </tr>
                <% unless scope['cargo_overview_only'] %>
                  <tr>
                    <td class="table-title"><p>Gross&nbsp;Weight&nbsp;per&nbsp;Item</p></td>
                    <td class="table-value">
                      <% gw_value = weight_units['unit'] == 'kg' ? cargo.payload_in_kg : (cargo.payload_in_kg / 1000) %>
                      <span><%="#{"%.#{weight_units['decimals']}f" % gw_value} #{weight_units['unit']}" %></span>  
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td class="table-title"><p>Quantity</p></td>
                  <td class="table-value"><span><%= cargo.quantity %></span></td>
                </tr>
                <tr>
                  <td class="table-title"><p>Total Volume</p></td>
                  <td class="table-value"><span><%= '%.3f' % (cargo.volume * cargo.quantity) %>&nbsp;m<sup>3</span></sup></td>
                </tr>
                <tr>
                  <td class="table-title"><p>Total&nbsp;Gross&nbsp;Weight</p></td>
                  <td class="table-value">
                    <% tgw_value = weight_units['unit'] == 'kg' ? cargo.payload_in_kg * cargo.quantity : (cargo.payload_in_kg * cargo.quantity / 1000) %>
                    <span><%="#{"%.#{weight_units['decimals']}f" % tgw_value} #{weight_units['unit']}" %></span>
                  </td>
                </tr>
                <tr>
                  <td class="table-title"><p><%== cargo_data[:chargeable_weight][shipment.id][cargo.id.to_s][:total_title] %></p></td>
                  <td class="table-value"><span><%== cargo_data[:chargeable_weight][shipment.id][cargo.id.to_s][:total_value] %></span></td>
                </tr>
              </table>
            </div>

          <% end %>
          <% shipment.containers.each_with_index do |container, i| %>
            <div class="no_page_break">
              <div class="title_row">
                <p class=""><strong><%= container.quantity %>&nbsp;x</strong> <%= load_type %></p>
              </div>
              <table class="data-table">
                <tr>
                  <td class="table-title"><p>Quantity</p></td>
                  <td class="table-value"><span><%= container.quantity %></span></td>
                </tr>

                <tr>
                  <td class="table-title"><p>Cargo Type</p></td>
                  <td class="table-value"><span><%= container.size_class.humanize.upcase %></span></sup></td>
                </tr>
                <% unless scope['cargo_overview_only'] %>
                  <tr>
                    <td class="table-title"><p>Gross&nbsp;Weight&nbsp;per&nbsp;Container</p></td>
                    <td class="table-value">
                      <% gw_value = weight_units['unit'] == 'kg' ? container.gross_weight : (container.gross_weight / 1000) %>
                      <span>
                        <%="#{"%.#{weight_units['decimals']}f" % gw_value} #{weight_units['unit']}" %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td class="table-title"><p>Total&nbsp;Gross&nbsp;Weight</p></td>
                  <td class="table-value">
                    <% tgw_value = weight_units['unit'] == 'kg' ? container.gross_weight * container.quantity : (container.gross_weight * container.quantity / 1000) %>
                    <span><%="#{"%.#{weight_units['decimals']}f" % tgw_value} #{weight_units['unit']}" %></span>
                  </td>
                </tr>
              </table>
            </div>

          <% end %>
          <% if  shipment.aggregated_cargo %>
            <div class="no_page_break">
              <div class="title_row">
                <p class="">"><strong>Aggregated Cargo</strong></p>
              </div>
              <table class="data-table">
                <tr>
                  <td class="table-title"><p>Total&nbsp;Gross&nbsp;Weight</p></td>
                  <td class="table-value">
                     <% agc_value = weight_units['unit'] == 'kg' ? shipment.aggregated_cargo.weight : shipment.aggregated_cargo.weight / 1000 %>
                    <span><%="#{"%.#{weight_units['decimals']}f" % agc_value} #{weight_units['unit']}" %></span>
                  </td>
                </tr>
                 <tr>
                  <td class="table-title"><p>Total Volume</p></td>
                  <td class="table-value"><span><%= '%.3f' % (shipment.aggregated_cargo.volume) %>&nbsp;m<sup>3</span></sup></td>
                </tr>
                 <tr>
                  <td class="table-title"><p>Chargeable Weight</p></td>
                  <td class="table-value"><span><%= '%.2f' % shipment.aggregated_cargo.chargeable_weight %></span></td>
                </tr>
              </table>
            </div>

          <% end %>

      <div class="notes-row">
        <div class="column-info display-flex border-bottom notes-upper">
          <div class="display-flex third">
            <span>Total Value of Goods:</span>
            <p class="info-values">
                <% if shipment.total_goods_value.is_a? Integer %>
                  <%= '%.2f' % shipment.total_goods_value %>
                  <%= shipment.selected_offer["total"]["currency"] %>
                <% else %>
                  <%= '%.2f' % shipment.total_goods_value["value"] %>
                  <%= shipment.total_goods_value["currency"] %>
                <% end %>
            </p>
          </div>

          <div class="display-flex third">
            <span>EORI number:</span>
            <p class="info-values">
              <% if shipment.eori %>
                <%= shipment.eori %>
              <% else %>
                -
              <% end %>
            </p>
          </div>

          <div class="display-flex third">
            <span>Incoterm:</span>
            <p class="hyphens">
              <% if shipment.incoterm_text %>
                <%= shipment.incoterm_text %>
              <% else %>
                -
              <% end %>
            </p>
          </div>
        </div>
        <div class="column-info notes-lower">
          <div class="border-bottom display-flex">
            <span>Description of Goods: </span>
            <p class="hyphens">
              <%= shipment.cargo_notes %>
            </p>
          </div>

          <% unless notes.empty? %>
           <div class="remarks">
            <h4>Notes: </h4>
            <ul> <% notes[shipment.id].each do |note| %>
              <li class="note-header"> <%= note.header %></li>
              <li>
                <p class="hyphens">
                  <%= simple_format(note.body) %>
                </p>
              </li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <% unless remarks.empty? %>
            <div class="remarks">
              <h4>Remarks:</h4>
              <ul>
                <% remarks.each do |remark|%>
                    <% unless remark.body.empty? %>
                    <li>
                      <p class="hyphens">
                        <%= simple_format(remark.body) %>
                      </p>
                    </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
