<% shipper = shipment.shipper %>
<% consignee = shipment.consignee %>
<% notifyees = shipment.notifyees %>
<% scope = tenant.scope %>
<% primary_color = tenant.theme["colors"]["primary"] %>
<% neutral_color = '#C4C4C4' %>
<% precarriage_color = shipment.has_pre_carriage ? primary_color : neutral_color %>
<% oncarriage_color = shipment.has_on_carriage ? primary_color : neutral_color %>
<% origin_fee_color = shipment.selected_offer["export"] ? primary_color : neutral_color %>
<% destination_fee_color = shipment.selected_offer["import"] ? primary_color : neutral_color %>
<div class="wrapper-quotations">
  <div class="main-title-shipment">
    <div class="title-shipments" style="text-align: left;">
      <h1>Shipment <%= shipment.imc_reference %></h1>
      
    </div>
    <div class="text-right tenant-shipments">
      <h1><%= shipment.tenant.name %></h1>
    </div>
  </div>
  <hr class="hr-shipment" style="border-color: <%= primary_color %>">
  <p class="ref">Placed on&nbsp;<span><%= shipment.updated_at.strftime("%d/%m/%Y") %></span></p>
  <div class="overview">
      <div class="info overview-child border-none">
          <% if shipment.mode_of_transport == "ocean" %>
            <% mot = "anchor" %>
          <% elsif shipment.mode_of_transport == "air" %>
            <% mot = "plane" %>
          <% else %>
            <% mot = "truck" %>
          <% end %>
          <i class="fa fa-<%= mot %> mot-icon" style="color: <%= primary_color %>"></i>
          <div class="shipment-info">
            <p>From:&nbsp;<span><%= shipment.origin_hub.name %></span></p>
            <p>To:&nbsp;<span><%= shipment.destination_hub.name %></span></p>
          </div>
          <div class="text-right cargo-info">
            <div class="charge-icons">
              <i class="fa fa-truck" style="color: <%= precarriage_color %>"></i>
              <i class="fa fa-file-o" style="color: <%= origin_fee_color %>"></i>
              <i class="fa fa-anchor" style="color: <%= primary_color %>"></i>
              <i class="fa fa-file" style="color: <%= destination_fee_color %>"></i>
              <i class="fa fa-truck flip" style="color: <%= oncarriage_color %>"></i>
            </div>
            <p>
              <strong>Weight:</strong>
              <%= '%.2f' % cargo_data[:kg][shipment.id] %>&nbsp;kg
            </p>
            <% if shipment.load_type != 'container'%>
              <p>
                <strong>Volume:</strong>
                <%= '%.2f' %  cargo_data[:vol][shipment.id] %>&nbsp;m<sup>3</sup>
              </p>
            <% end %>
          </div>
        </div>
    
  </div>

  <% if shipment.has_on_carriage || shipment.has_pre_carriage && (shipment.pickup_address || shipment.delivery_address) %>
    <div class="carriage-row border-bottom">

      <% if shipment.pickup_address && shipment.has_pre_carriage %>
        <div>
          <div class="display-flex">
            <i class=" fa fa-check check-square" style="color: <%= precarriage_color %>"></i>
            <h4>
              Pick-up estimated on <%= shipment.planned_pickup_date.try(:strftime, "%d/%m/%Y") %>
            </h4>
          </div>

          <div>
            <% if shipment.pickup_address %>
              <p>
                <%= shipment.pickup_address.street %> 
                <%= shipment.pickup_address.street_number %>,
                <%= shipment.pickup_address.city %>,
                <%= shipment.pickup_address.country.name %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if shipment.delivery_address && shipment.has_on_carriage %>
        <div>
          <div class="display-flex">
            <i class=" fa fa-check check-square" style="color: <%= oncarriage_color %>"></i>
            <h4>
              Delivery estimated at <%= shipment.planned_delivery_date.try(:strftime, "%d/%m/%Y") %>
            </h4>
          </div>
          <div>
              <% if shipment.delivery_address %>
                <p>
                  <%= shipment.delivery_address.street %> 
                  <%= shipment.delivery_address.street_number %>,
                  <%= shipment.delivery_address.city %>,
                  <%= shipment.delivery_address.country.name %>
                </p>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
          
  <div class="dates margin-bottom">
    <% if !shipment.has_pre_carriage %>
      <div>
        <h4 class="date-title">Closing Date</h4>
        <p class="sched-elem">
          <%= shipment.closing_date.strftime("%d/%m/%Y") %>
        </p>
      </div>
    <% end %>
    <div>
      <h4 class="date-title">ETD</h4>
      <p class="sched-elem">
        <%= shipment.etd.strftime("%d/%m/%Y") %>
      </p>
    </div>
    <div>
      <h4 class="date-title">ETA</h4>
      <p class="sched-elem">
        <%= shipment.eta.strftime("%d/%m/%Y") %>
      </p>
    </div>
    <div>
      <h4 class="date-title"> Estimated T/T <sup>*</sup></h4>
      <p class="sched-elem">
        <%= ((shipment.eta - shipment.etd) / 100000).ceil %>
        Days
      </p>
    </div>
  </div>

  <div class="padding-top contacts-row">
    <div class="display-flex">

      <div>
        <div class="basic-info">
          <div class="display-flex-center">
            <i class="fa fa-user " style="color: <%= primary_color%>"></i>
            <h1><%= shipper.first_name %> <%= shipper.last_name %></h1>
          </div>
          <div class="margin-bottom display-flex-center">
            <i class="fa fa-building " style="color: <%= primary_color%>"></i>
            <h2><%= shipper.company_name %></h2>
          </div>
        </div>
        
        <div class="contact-info">
          <div class="display-flex-center">
            <i class="fa fa-envelope " style="color: <%= primary_color%>"></i>
            <h3><%= shipper.email %></h3>
          </div>
          <div class="display-flex-center">
            <i class="fa fa-phone " style="color: <%= primary_color%>"></i>
            <h3><%= shipper.phone %></h3>
          </div>
        </div>
          <h3>
            <%= shipper.address.street %> <%= shipper.address.street_number %>,
            <%= shipper.address.zip_code %> <%= shipper.address.city %>
          </h3>
      </div>
    </div>

    <div class="text-center arrow-circle">
      <i class="fa fa-arrow-right"></i>
    </div>
    
    <div class="display-flex">
      <div>
        <div class="basic-info">
          <div class="display-flex-center">
            <i class="fa fa-user " style="color: <%= primary_color%>"></i>
            <h1><%= consignee.first_name %> <%= consignee.last_name %></h1>
          </div>
          <div class="display-flex-center margin-bottom">
            <i class="fa fa-building " style="color: <%= primary_color%>"></i>
            <h2><%= consignee.company_name %></h2>
          </div>
        </div>
        
        <div class="contact-info">
          <div class="display-flex-center">
            <i class="fa fa-envelope " style="color: <%= primary_color%>"></i>
            <h3><%= consignee.email %></h3>
          </div>
          <div class="display-flex-center">
            <i class="fa fa-phone " style="color: <%= primary_color%>"></i>
            <h3><%= consignee.phone %></h3>
          </div>
        </div>
        <h3>
          <%= consignee.address.street %> <%= consignee.address.street_number %>,
          <%= consignee.address.zip_code %> <%= consignee.address.city %>
        </h3>
      </div>
      
    </div>
  </div>

  <div class="padding-top-double">
    <div class="border-box display-flex-center margin-bottom">
      <div class="services-box">
        <div>
          <h3>Freight, Duties & Carriage:</h3>
            <div>

              <div class="display-flex-center">
                <div class="display-flex flex-grow margin-bottom">
                  <i class="fa fa-truck" style="color: <%= shipment.has_pre_carriage ? primary_color : '#E0E0E0' %>"></i>
                  <p>Pick-up</p>
                </div>
                <div class="display-flex flex-grow margin-bottom">
                  <i
                    class="fa fa-truck flip"
                    style="color: <%= shipment.has_on_carriage ? primary_color : '#E0E0E0' %>"
                  ></i>
                  <p>Delivery</p>
                </div>
              </div>
              
              <div class="display-flex-center">
                <div class="display-flex flex-grow margin-bottom">
                  <i
                    class="fa fa-file-o"
                    style="color: <%= shipment.selected_offer["export"] ? primary_color : '#E0E0E0' %>"
                  ></i>
                  <p>
                Origin<br />
                Local Charges
                  </p>
                </div>
                <div class="display-flex flex-grow margin-bottom">
                  <i
                    class="fa fa-file"
                    style="color: <%= shipment.selected_offer["import"] ? primary_color : '#E0E0E0' %>">
                  </i>
                  <p>
                Destination<br />
                Local Charges
                  </p>
                </div>
              </div>

              <div class="display-flex flex-grow margin-bottom">
                  <i
                    class="fa fa-ship" style="color: <%= primary_color %>"></i>
                <p><%="#{shipment.mode_of_transport.capitalize} Freight" %></p>
              </div>

          </div>
        </div>
      </div>
      <% if scope['has_customs'] || scope['has_insurance']%>
      
        <div class="additional-services">

          <h3>Additional <br/> Services</h3>
          <div>

            <div class="display-flex margin-bottom">
              <i class="fa fa-user" style="color: <%= shipment.selected_offer["customs"] ? primary_color : '#E0E0E0' %>"></i>
              <p>Customs</p>
            </div>

            <div class="display-flex margin-bottom">
              <i class="fa fa-umbrella" style="color: <%= shipment.selected_offer["insurance"] ? primary_color : '#E0E0E0' %>"></i>
              <p>Insurance</p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="total-section">      
        <p><span>x<%= shipment.aggregated_cargo ? '1' : shipment.cargo_units.pluck(:quantity).sum %>&nbsp;</span><%= load_type %></p>
        <h2>
          <% if shipment.selected_offer["edited_total"] %>
            <%= '%.2f' % shipment.selected_offer["edited_total"]["value"] %>
            <%= shipment.selected_offer["edited_total"]["currency"] %>
          <% else %>
            <%= '%.2f' % shipment.selected_offer["total"]["value"] %>
            <%= shipment.selected_offer["total"]["currency"] %>
          <% end %>
        </h2>
      </div>
    </div>
  </div>

  <div class="cargo-details-all">
    <div class="border-box">
      <div class="cargo-details-title">
        <h1>Cargo Details</h1>
      </div>

      <% shipment.cargo_items.each_with_index do |cargo, i| %>

        <div class="first-cargo-row display-flex-center text-center border-bottom">
          <div class="cargo-index cargo-section">
            <p class="cargo-value"><%= i + 1 %></p>
          </div>
          <div class="cargo-items cargo-section">
            <p class="cargo-subtitle"><strong><%= cargo.quantity %> x</strong> <%= load_type %></p>
          </div>
          <div class="cargo-section">
            <p class="cargo-value"><span class="cargo_type"><%= cargo.cargo_item_type.description %></span></p>
            <p class="cargo-subtitle">Cargo type</p>
          </div>
          <div class="cargo-section">
            <p class="cargo-value"><span class="cargo-type"><%= '%.2f' % (cargo.payload_in_kg || cargo.weight) %></span> &nbsp;kg </p>
            <p class="cargo-subtitle">Gross Weight</p>
          </div>

          <div class="cargo-section">
            <p class="cargo-value">
              <span class="cargo-type">
                <%= '%.2f' % cargo.volume %>
              </span> &nbsp;m<sup>3</sup>
            </p>
            <p class="cargo-subtitle">Volume</p>
          </div>
          <div class="cargo-section cargo-section-last">
            <p class="cargo-value">
              <span class="cargo-type">
                <%= '%.2f' % cargo.chargeable_weight %>
              </span>
              &nbsp;kg
            </p>
            <p class="cargo-subtitle">Chargeable Weight</p>
          </div>          
        </div>     
        
      <% end %>
      <% shipment.containers.each_with_index do |container, i| %>

        <div class="first-cargo-row display-flex-center text-center border-bottom">
          <div class="cargo-index cargo-section">
            <p class="cargo-value"><%= i + 1 %></p>
          </div>
          <div class="cargo-items cargo-section">
            <p class="cargo-subtitle"><strong><%= container.quantity %> x</strong> <%= load_type %></p>
          </div>
          <div class="cargo-section">
            <p class="cargo-value"><span class="cargo_type"><%= container.size_class.upcase %></span></p>
            <p class="cargo-subtitle">Cargo type</p>
          </div>
          <div class="cargo-section">
            <p class="cargo-value"><span class="cargo-type"><%= '%.2f' % container.gross_weight %></span> &nbsp;kg </p>
            <p class="cargo-subtitle">Gross Weight</p>
          </div>         
        </div>     
        
      <% end %>
      <% if  shipment.aggregated_cargo %>

        <div class="first-cargo-row display-flex-center text-center border-bottom">
          <div class="cargo-index cargo-section">
            <p class="cargo-value">1</p>
          </div>
          <div class="cargo-items cargo-section">
            <p class="cargo-subtitle"><strong>Aggregated Cargo</strong></p>
          </div>
          <div class="cargo-section">
            <p class="cargo-value"><span class="cargo-type"><%= '%.2f' % shipment.aggregated_cargo.weight %></span> &nbsp;kg </p>
            <p class="cargo-subtitle">Gross Weight</p>
          </div>

          <div class="cargo-section">
            <p class="cargo-value">
              <span class="cargo-type">
                <%= '%.2f' % shipment.aggregated_cargo.volume %>
              </span> &nbsp;m<sup>3</sup>
            </p>
            <p class="cargo-subtitle">Volume</p>
          </div>
          <div class="cargo-section cargo-section-last">
            <p class="cargo-value">
              <span class="cargo-type">
                <%= '%.2f' % shipment.aggregated_cargo.chargeable_weight %>
              </span>
              &nbsp;kg
            </p>
            <p class="cargo-subtitle">Chargeable Weight</p>
          </div>          
        </div>     
        
      <% end %>

      <div class="notes-row">
        <div class="column-info display-flex border-bottom notes-upper">
          <div class="display-flex">
            <span>Total Value of Goods:</span>
            <p class="info-values">
                <% if shipment.total_goods_value.is_a? Integer %>
                  <%= '%.2f' % shipment.total_goods_value %>
                  <%= shipment.selected_offer["total"]["currency"] %>
                <% else %>
                  <%= '%.2f' % shipment.total_goods_value["value"] %>
                  <%= shipment.total_goods_value["currency"] %>
                <% end %>
            </p>
          </div>
            
          <div class="display-flex">
            <span>EORI number:</span>
            <p class="info-values">
              <% if shipment.eori %>
                <%= shipment.eori %>
              <% else %>
                -
              <% end %>
            </p>
          </div>
            
          <div class="display-flex">
            <span>Incoterm:</span>
            <p>
              <% if shipment.incoterm_text %>
                <%= shipment.incoterm_text %>
              <% else %>
                -
              <% end %>
            </p>
          </div>
        </div>
        <div class="column-info notes-lower">
          <div class="border-bottom display-flex">
            <span>Description of Goods: </span>
            <p>
              <%= shipment.cargo_notes %>
            </p>
          </div>
  
          <div class="display-flex">
            <span>Notes: </span>
            <p>
              <% if shipment.notes %>
                <%= shipment.notes %>
              <% else %>
                -
              <% end %>
            </p>
          </div>
          
          <% if remarks.exists? %>
            <div class="remarks">
              <h4>Remarks:</h4>
              <ul>
                <% remarks.each do |remark|%>
                    <% unless remark.body.empty? %>
                    <li><%= remark.body %></li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    
  </div>
  
</div>