<tr class="table-level-<%= fee[:level]%>">
  <td class="table-title-<%= fee[:level]%>">
    <p>
        <%= fee[:description] %>
        <% if
          scope['show_chargeable_weight'] &&
          fee[:level] == 1 &&
          fee[:section].present? &&
          !['import', 'export'].include?(fee[:section])
        %>
          <%== result.chargeable_weight_string(section: fee[:section]) %>
        <% end %>
    </p>
  </td>

  <td class="table-value">
    <p><%= [fee.dig(:value, :amount), fee.dig(:value, :currency)].join(' ') %></p>
  </td>
</tr>
